[2017-03-03 07:29] jogibear9988 commented on #504
probelm is struct is boxed in object! and they are not equal on mono? for what reason ever

[2017-03-03 07:39] jogibear9988 commented on #504
I've created a issue at nunit https://github.com/nunit/nunit/issues/2069

[2017-03-03 07:41] jogibear9988 commented on #504
So it's no Linq2Db problem, what should I do? Skip the Test on Mono?

[2017-03-03 07:59] ili commented on #418
@MozgC please more details... It may differ from provider to provider, and also if specific mechanism is used

[2017-03-03 08:14] ili commented on #504
May be we just change Assertion, for Assert.AreEqual(t1, t2)?

[2017-03-03 08:23] jogibear9988 commented on #504
Same error...

[2017-03-03 08:33] jogibear9988 commented on #504
The Tests works on Travis wich Nunit uses... Maybe we should update nunit to newest version?

[2017-03-03 08:50] ili commented on #504
Try to update...

[2017-03-03 08:55] jogibear9988 commented on #504
What I don't understand, The "Tests" project, wich files does it use?
we have

- packeges.config (wich seems not to be used)
- project.json
- project.json.lock
- Test.project.json
- Linq.xproj

atm, for me it's not clear how to refrence a new nuget package, I've tried, but don't know if it works

[2017-03-03 08:59] jogibear9988 commented on #504
Can we remove some of the files, or add a explanation wich is responsible for what?

[2017-03-03 09:03] jogibear9988 commented on #504
I don't understand, seems now I'm using Nunit 3.6.1, but it's still failing https://travis-ci.org/jogibear9988/linq2db/jobs/207290235

[2017-03-03 09:04] jogibear9988 commented on #504
Maybe we should wait for VS2017 on Tuesday, Upgrage our "project.json" to csproj, switch to netcore 1.1 and test again!

[2017-03-03 13:55] Arithmomaniac opened #580 "(Cannot ?) override column attributes at runtime"
If for some reason, you need to change the mapping for a table for one operation only, you can call something like `db.GetTable<ModelBase>().TableName('table1')`. However, there is no obvious way to do something like `db.GetTable<ModelBase>().ColumName(x => x.Id, 'idColumn1')`, let alone override things like `IsPrimaryKey`.

I think an API similar to the one for tables would be nice, but in the me

[2017-03-03 14:17] ili commented on #580
Please look [here](https://github.com/linq2db/linq2db/blob/master/Tests/Linq/Mapping/FluentMappingTests.cs)

[2017-03-03 14:23] Arithmomaniac commented on #580
Are you suggesting I use `MappingSchema.Default.GetFluentMappingBuilder().Entity<ModelBase>()`? Doesn't that edit the configuration globally?
Or is there a way to clone and edit `MappingSchema`s, and use them for table creation?

[2017-03-03 14:25] ili commented on #504
May be we can make it conditional for now?...

[2017-03-03 14:28] ili commented on #504
make some crap like:
[code]

[2017-03-03 14:35] ili commented on #580
You are right! And one step before me, i just wanted to say that i would not recommend you to do it.
You can create new mapping schema, and use it for particular data connection (this i would recommend).

Here is the sample:

[code]

[2017-03-03 14:47] Arithmomaniac commented on #580
Will that MappingSchema first scan attributes before applying the changes in the builder?
Can you tell an existing DataContext to use a different schema for a specific query? (e.g. something like `db.WithSchema(ms).GetTable<ModelBase>()`). That would essentially solve my problem.

[2017-03-03 16:49] ronnyek commented on #324
@jogibear9988 coudl we even see a basic gist? Does it require setting up some manual mapping for a specific type?

[2017-03-03 17:37] jogibear9988 commented on #324
MappingSchema.Default.SetConverter<List<string>, string>((obj) =>
            {
                if (obj == null)
                    return null;
                return StringSerializer.Serialize(obj);
            });
            MappingSchema.Default.SetConverter<List<string>, DataParameter>((obj) =>
            {
                if (obj == null)
                    return new DataParameter { Dat

[2017-03-03 20:06] ronnyek commented on #324
@ili if I was able to provide similar functionality via attribtues, so as to not have to write a custom converter for every weird type you'd want to be able to convert... is that worthy of a pull request? Json.Net is capable of dynamically handling json->type conversion.

Also, any input on the handling of expression tree etc? Eg, if my type is List<string> and someone builds a query that does whe

[2017-03-03 20:19] sdanyliv commented on #580
@Arithmomaniac, i don't see any problems here. You can write your own extension method for DataConnection
[code]

[2017-03-04 06:47] ili commented on #580
@Arithmomaniac shortly: yes it would scan other attributes, you can make partial changes.

In general situation is more complex. For building queries and mappers `EntityDesctiptors` are used, `MappingSchema` is responsible for `EntityDescriptor` creation. While creation `EntityDescriptor` different metadata sources are used (fluent is one of them). `EntityDescriptor` is cached per each `MappingScg

[2017-03-04 15:06] jogibear9988 commented on #573
I've updated my fixes....

[2017-03-04 16:02] iheb719 commented on #214
Is the feature still in development or is abandoned ? Making a query for each entity is really a performance issue for me.

[2017-03-05 06:58] ili commented on #214
This would be the point for v2

[2017-03-05 07:16] jogibear9988 commented on #214
do you?, or igor work on v2 atm?

[2017-03-05 07:18] jogibear9988 commented on #504
i'll look again to this on monday

[2017-03-05 07:32] ili commented on #214
Igor.

[2017-03-05 13:52] #377 closed

[2017-03-05 13:54] ili commented on #233
fixed

[2017-03-05 13:54] #233 closed

[2017-03-05 15:10] jogibear9988 opened #581 "Only 5 Pages of Bugs left..."
It's good to see the recent activity on linq2db, I think 2 or 3 month ago, we had 7 pages of bugs. Now we have 5.

;-)  Thanks @igor-tkachev , @ili and @sdanyliv for your great work

[2017-03-05 15:10] #581 closed

[2017-03-05 15:22] ili commented on #581
Thank you too! :)

[2017-03-05 15:39] sdanyliv commented on #581
Thank you for your help also!

[2017-03-05 15:57] jogibear9988 opened #582 "Use of ReLinq for Expression parsing"
Why don't we use ReLinq for parsing? It's used by ef and nhibernate.

Is it slower? Or does it not help very much?

https://github.com/re-motion/Relinq

[2017-03-05 16:37] sdanyliv commented on #582
Not sure but looks like it forces to use Expression descendant's as AST. It is contradictory for me to concider that is good, but looks like EF code, because of this, is more complicated, especially for creating new Data Providers.

[2017-03-06 05:24] ili commented on #324
Not sure what case are you talking about, like this:
[code]

I'm not sure this is really needed - now it can be specified once and globally via mapping schema.

If you are ready to implement this feature it would be good. And as for me for now it is better to fix issues marked as bug :)

[2017-03-06 05:29] ronnyek opened #583 "Way of handling "computed" properties"
So I've got places where I calculate fields in sql and want them to be mapped on the way out of the database, but in saving, I dont want to try and insert. Is there a mechanism for a "Computed" column?

[2017-03-06 06:09] jack128 commented on #583
[code]
?

[2017-03-06 06:42] ronnyek commented on #583
OMG if its that easy... so awesome... I'll give that a whirl

[2017-03-06 06:43] ronnyek commented on #583
Maybe I'll try and submit a pull request for a rehash on documentation... I feel like linq2db already does a lot, but not so obvious how to do things without digging through unit tests etc.

[2017-03-06 06:49] ili commented on #583
Documentation is our pain :(
We should work hard to fill wiki, or may be we should use [readthedocs](https://readthedocs.org/) or something like that... in any way if you can participate in writing documentation it would be super, for ex i'v started [FAQ](https://github.com/linq2db/linq2db/wiki/FAQ) from your question :)

[2017-03-06 06:49] #583 closed

[2017-03-06 06:57] ronnyek commented on #324
Basically like [JsonNetProperty] and basically have it create necessary registrations... but I'v ebeen able to build a generic method that handles those 3 necessary type registrations and have a list of types to run it against, so I think we're good!

Appreciate the tips!

[2017-03-06 06:57] #324 closed

[2017-03-06 06:59] ronnyek commented on #583
I'd be more than happy to contribute SOMETHING back =)

[2017-03-06 13:52] ili commented on #440
this has the same problem as for #482

If MARS disabled for connection new connections would be created, so your `d.Connection.ChangeDatabase("CustomDataBase");` would not be applied...

This is `By Design` for now, if you do need to connect to multiple databases use multiple configurations, and create connection with specifying configuration name.

[2017-03-06 13:52] #440 closed

[2017-03-06 13:57] ili commented on #482
This is by design now.

To use it in this way you need to enable [MARS](https://msdn.microsoft.com/en-us/library/h32h3abf(v=vs.110).aspx)

Now this is supported only for MS Sql Server. I'll look forward to check if we can support MARS for other providers.

[2017-03-06 14:22] #358 closed

[2017-03-06 16:21] Arithmomaniac commented on #580
That works. I do think adding `.ColumName(x => x.Id, 'idColumn1')` would be less error-prone, though.
Thanks!

[2017-03-07 05:04] #580 closed

[2017-03-07 05:04] ili commented on #580
Not at all :)

[2017-03-07 05:07] Arithmomaniac commented on #580
? Why not? It's hard to decorate properly.

[2017-03-07 06:07] ronnyek commented on #583
This takes care of columns that actually exist as a part of physical schema... but what about purely computed schema? Should IsColumn=false allow me to map that column (in Execute/Query) should the columns be returned, but not exist as part of the schema?

If I am accessing the data via .GetTable<Type>(), I'd just prefer not to include this column in the list.

[2017-03-07 06:07] ili commented on #580
The feature you are talking about is really hard to implement from one side and exotic from another.

From another side making decorator is a 10 minutes job. Please see an [example](https://github.com/linq2db/linq2db/commit/8a9c12370e64ef4a6c361a259cf25865095f4234)

[2017-03-07 07:58] ili commented on #583
Not sure... just try :)

[2017-03-07 08:20] jogibear9988 opened #585 "Support for System.transaction"
do we support System.Transaction?

if not, we should consider! Also it will be implemented in net core: https://github.com/dotnet/corefx/issues/2949

[2017-03-07 08:46] ili commented on #585
In what scenario?
For ex [TransactionScope](https://github.com/linq2db/linq2db#transactions) works...

[2017-03-07 14:52] jogibear9988 commented on #585
I did mean TransactionScope! So it works

[2017-03-07 14:52] #585 closed

[2017-03-08 00:01] Arithmomaniac commented on #580
Thanks!

[2017-03-08 13:14] jogibear9988 commented on #504
now we seem to have a timeout. @ili, du you have an idea? https://s3.amazonaws.com/archive.travis-ci.org/jobs/208953732/log.txt

[2017-03-08 21:27] ronnyek commented on #324
Ok, so I got this all built, and it all works in reading data out of the database just fine.... but fails because its trying to setup the write query such that its using "string" as the variable type. Says that doesnt comply with the data type json or jsonb.

DataTypes understandably doesn't have json/jsonb types just yet. Is there anyway without having to subclass postgres provider to say for the

[2017-03-08 21:58] sdanyliv commented on #347
@ili, it is simplified already to create custom Data Providers?

[2017-03-08 22:34] #325 closed

[2017-03-08 23:54] ronnyek commented on #432
I'm pretty certain this is because internally providers switch on the DataType and return the native types for the database. Currently there are no Json/Jsonb types, so it defaults to text/string.

I'm in the process of creating unit tests for a pull request I've got that would handle this functionality... and hope to have it checked in this evening (as to whether or not I'll get linq2db maintaine

[2017-03-09 02:47] ili commented on #324
Can you provide minimal test?

[2017-03-09 02:51] ili commented on #347
We'v done already some job to make it easier to write custom data providers.
Let's close issue for now, will reopen and work on particular cases

[2017-03-09 02:51] #347 closed

[2017-03-09 05:20] ronnyek commented on #432
#586 Pending approval

[2017-03-09 05:21] ronnyek commented on #324
I went ahead and built tests, and figured out what it'd take to get those tests to pass.
Built #586

[2017-03-09 05:35] ronnyek commented on #324
I haven't worked out the details, but if its cool, I'd like to also

1. Build an attribute as discussed above
2. Either build a new MetadataReader, or integrate into the LinqMetadataReader
3. Have the above two components end up doing the work required above for setting up a map from this type to that type.

Questions:
1. Is it a problem to add additional dependency on newtonsoft to facilitate bro

[2017-03-09 06:09] ili commented on #504
It looks like there is infinite cycle in test, sunning after `Tests.DataProvider.PostgreSQLTests.TestXml`

[2017-03-09 09:01] ili commented on #432
#586 merged

[2017-03-09 12:13] jogibear9988 commented on #504
yes... but how to fix?

[2017-03-09 12:17] jogibear9988 commented on #504
i think after the xmltest, the tests are finished...

[2017-03-09 12:18] jogibear9988 commented on #504
maybe we have the same problem: http://stackoverflow.com/questions/2433700/nunit-console-exe-hangs-after-finishing-test-run

[2017-03-09 13:17] ili commented on #504
I don't think so... I think there is a loop, because we have no output in console... And runner produces output on each print.

But let's try to switch off multi threading tests. Try to mark `Issue513Tests` and `Issue548Tests` as windows only...

[2017-03-09 13:24] jogibear9988 commented on #504
But on Windows the XML Test is the last...

[2017-03-09 13:30] ili commented on #504
not sure what does it mean...

[2017-03-09 14:10] ili commented on #582
I don't see any documentation =(

[2017-03-09 14:48] jogibear9988 commented on #504
After the XML Test from postgres there is no other test to run...

[2017-03-09 14:48] jogibear9988 commented on #504
The disable of the 2 tests does also not help

[2017-03-09 15:22] ili commented on #504
That mean hung is in another TestFixture

[2017-03-09 16:38] jogibear9988 commented on #504
yes.. but i've no idea where

[2017-03-09 19:46] ili commented on #504
I'v reproduced hung on Windows :)

The problem is with WCF provider. It looks like we should switch it off as for .Net Core [#if !NETSTANDARD && !MONO
](https://github.com/linq2db/linq2db/blob/master/Tests/Linq/TestBase.cs#L313)

Also it looks like `MySql.Data` is not stable on Windows... fails with great number of bugs... but let's try on Linux :)

[2017-03-09 23:09] integral-llc opened #588 "Left outer Join Fails"
Having a simple left outer join

[code]

Fails with error `The multi-part identifier "t3.Id" could not be bound.`

Library version: 1.0.7.6

[2017-03-09 23:35] integral-llc commented on #588
This is the query that is being generated

[code]

[2017-03-09 23:43] integral-llc commented on #588
Using such a query solved the problem, but still, looks like a bug to me

[code]

[2017-03-10 01:57] ili commented on #588
Looks like the same as #569

[2017-03-10 02:45] integral-llc commented on #588
Yep, looks quite similar.

Any fix in progress?

On Thu, Mar 9, 2017 at 6:57 PM, Ilya Chudin <notifications@github.com>
wrote:

--
Greetings,
Eugen Rata

[2017-03-10 03:03] ili commented on #588
Yes, we are working on #575

[2017-03-10 07:37] jogibear9988 commented on #504
Now we have new errors....

[36mErrors and Failures
[37m
[31m1) Failed : Tests.Data.DataExtensionsTests.TestDataParameterMapping1
[37m[31m  Expected: 4294967298
  But was:  3
[37m[31mat Tests.Data.DataExtensionsTests.TestDataParameterMapping1 () [0x0010a] in <3b07f9d144714f069e419a3fc7f85bee>:0
[37m
[31m2) Error : Tests.Linq.ConcatUnionTests.ConcatToString("PostgreSQL")
[37m[31mNpgsql.Np

[2017-03-10 11:29] ili commented on #504
I think this fails because SQLite uses Int64 for integer types by default, and we do make query on PostgreSql, if it uses Int32 we'll have an overflow.

we can try to rewrite test like:
[code]

[2017-03-10 11:33] ili commented on #504
Npgsql.NpgsqlException : 42883: operator does not exist: integer ~~ text

This looks like differ between Windows and Linux PosgreSQL build... needs investigation. Looks like we do generate wrong query. Let's make `WindowsOnly` for now and create new issue to fix in future.

[2017-03-10 11:36] ili commented on #504
Npgsql.NpgsqlException : 42883: function length(smallint) does not exist

the same as previous

[2017-03-10 11:38] ili commented on #504
System.NotImplementedException : The method or operation is not implemented.

This is Mono exception... let's disable this test for Mono

[2017-03-10 11:40] ili commented on #504
LinqToDB.Linq.LinqException : Member 'Child.Parent' is not a table column

Very bad! :( We need to investigate the reason. It smells like problem with expression parser...

[2017-03-10 11:45] ili commented on #504
Rewrite tests of this fixture to use [IncludeDataContextSource(ProviderName.SQLite, TestProvName.SQLiteMs)]

BTH we'll need to do something with SQLite on Mono :(

[2017-03-10 11:50] ili commented on #504
System.InvalidOperationException : Sequence contains no matching element
  at System.Linq.Enumerable.Single[TSource]

Interesting!

Let's try to rewrite test:
[code]
instead of

[code]

[2017-03-10 11:53] ili commented on #504
Vary good results! Just few tests left! :) 👍

[2017-03-10 12:20] ili opened #589 "Joins optimization bug"
[Original issue](http://rsdn.org/forum/prj.rfd/6720571)

[2017-03-11 00:04] jogibear9988 commented on #504
Error : Tests.Linq.ExpressionsTests.TestGenerics1
LinqToDB.Linq.LinqException : Member 'Child.Parent' is not a table column
Very bad! :( We need to investigate the reason. It smells like problem with expression parser...

but this then seems like a mono bug? it works on win.

[2017-03-11 00:06] jogibear9988 opened #590 "Tests.Linq.ExpressionsTests.TestGenerics1 -> Does not work on MONO"
The Test fails with following Exception:

     Error : Tests.Linq.ExpressionsTests.TestGenerics1
     LinqToDB.Linq.LinqException : Member 'Child.Parent' is not a table column.
 at LinqToDB.Linq.Builder.TableBuilder+TableContext.GetField (System.Linq.Expressions.Expression expression, System.Int32 level, System.Boolean throwException) [0x005b2] in :0
at LinqToDB.Linq.Builder.TableBuilder+TableCont

[2017-03-11 05:37] ili commented on #504
Really have no ideas about `Tests.Linq.ExpressionsTests.TestGenerics1`

[2017-03-11 06:03] jogibear9988 commented on #504
If everything works, will you merge? Or should I rebase to master?

[2017-03-11 06:29] jogibear9988 commented on #504
Does not help...

strange is also, why do these two tests fail in mono?

[2017-03-11 08:03] #539 closed

[2017-03-11 08:17] ili commented on #504
Looks like we are looking at wrong place!
I think this two tests really fails, but we do not see exception info, because runtime fails to load stack trace and new exception is thrown!

It looks like bug in runtime https://github.com/dotnet/corefx/issues/9649

let's try to ignore this tests for a time

[2017-03-11 08:29] jogibear9988 commented on #504
That was my question! Why do these two tests fail on OSX but not Linux? It's bad we don't seen the original Exception...

[2017-03-11 08:33] jogibear9988 opened #592 "Reenable 2 Ormbattle Tests on OSX"
When https://github.com/dotnet/corefx/issues/9649 is fixed, we should reenable "SelectSubqueryTest" & "ComplexTest1" so we see the stacktrace and can fix them.

[2017-03-11 08:35] jogibear9988 commented on #573
@sdanyliv have you had a change to look at the not workin tests?

[2017-03-11 11:31] jogibear9988 commented on #504
I've disabled "mono" build on osx atm, cause we got this error:

     Could not load type 'Mono.Data.Sqlite.SqliteDataReader' from assembly 'Mono.Data.Sqlite, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'.

so now travis works, and we can go on further

[2017-03-11 14:02] Dutchdre opened #593 "AccessSchemaProvider.GetForeignKeys returns empty list"
Last week I was stumbling through the process of auto generating my model based on text templates with an underlying Microsoft Access database. Surprisingly the GetForeignKeys method of the AccessSchemaProvider is not implemented and returns an empty list.

[2017-03-11 20:02] #423 closed

[2017-03-11 20:20] sdanyliv commented on #573
@jogibear9988, sorry i'm returning from vacation. I think on monday.

[2017-03-12 03:10] ronnyek commented on #432
@ili, after running through some trials I noticed even with the new data types, conversions (and the sql builder additions you added after) I am still having problems... I built a test in my repository that maybe you can take a look at and tell me why it still wont insert. Looks like I can use column attributes to set DataType, as well as use it in the parameter converter. But at the time its exec

[2017-03-12 06:03] jogibear9988 commented on #432
see also https://github.com/linq2db/linq2db/issues/533

I've already looked at this! Problem is, at the Place where we build the Parameter for the insert, we don't have the information any more (we convert the Converter to a lambda wich returns the value). We need to change that Code.

For look, my problem could be solved using DbNull instead of null, so I stopped looking!

[2017-03-12 06:21] ronnyek commented on #432
Hrmm... with that test, I've got it returning DbNull.Value, and the json types arent null when inserting. I just dont understand enough where that actual conversion is happening (or in this case apparently not). I've been tracing through this code for quite some time.

[2017-03-12 06:57] ronnyek commented on #432
Could we wrap up converters in a ConverterDescriptor or something, so that where we access the converter itself we wrap the converter with the compiled lambda and information about it?

[2017-03-12 13:50] #504 closed

[2017-03-12 15:39] ili commented on #593
OleDb do not provide schema info about foreign keys.

The way i'v found is to make query to `MSysRelationships` but wen i'm making select from tests I do have an error `Record(s) cannot be read; no read permission on 'MSysRelationships'. `

[2017-03-12 17:59] #593 closed

[2017-03-13 04:54] ili commented on #504
@jogibear9988 Great job! :)

[2017-03-13 13:27] ili commented on #576
@10der update to newer mono is not possible?

[2017-03-13 13:30] ili commented on #576
@jogibear9988  for now we do not run `SQLite` tests on `Mono`, can we target `System.Data.SQLite` for `Mono` builds?

[2017-03-13 13:41] ili commented on #577
Another workaround
[code]

in another words - `from` closure should follow `join` closure

[2017-03-13 13:58] ili commented on #535
I'v added a test demonstrating the issue, it succeed.

How does defined your classes (`PersonCustomer` & `CustomerBase`)?

May be there are some difference between mappings defined?

[2017-03-13 15:28] jogibear9988 commented on #576
i'll look

[2017-03-13 19:07] integral-llc commented on #535
[code]
[code]

Nothing fancy here.

[2017-03-15 15:06] ferbenor opened #595 "Create temporary tables on postgres"
Hello, how to do to make temporary tables on postgres, sqlite, etc?

[2017-03-15 15:29] sdanyliv commented on #595
Usually it is simple:
[code]
But, for example, for PosgreSQL you have to use the following syntax
[code]
Some samples are here
https://github.com/linq2db/linq2db/blob/master/Tests/Linq/Update/CreateTableTests.cs

[2017-03-15 15:35] sdanyliv commented on #310
@ferbenor, it is still actual?

[2017-03-15 15:42] ferbenor commented on #595
Ok but if i want create a extention to organize this process, how to do to
segment this process, example;

var context = [how get context]
switch (context)
case ProviderName.SqlServer2008:
table = db.CreateTable<TestTable>(tableName:name);

break;

default:

table = db.CreateTable<TestTable>(tableName:name,
statementHeader:"CREATE TEMPORARY TABLE {0}");

break;

2017-03-15 10:29 GMT-05:00 Svyatosl

[2017-03-15 15:58] sdanyliv commented on #595
Something like this:
[code]

[2017-03-15 16:11] ferbenor commented on #595
It's perfect, thank you very much.

2017-03-15 10:58 GMT-05:00 Svyatoslav Danyliv <notifications@github.com>:

--
Att.
Fernando

[2017-03-15 16:12] #595 closed

[2017-03-17 12:30] sdanyliv commented on #310
Closing for now. Will reopen if needed.

[2017-03-17 12:30] #310 closed

[2017-03-19 08:09] jogibear9988 opened #599 "Symbols Package for Nuget should be created"
See https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages

[2017-03-20 07:13] ili commented on #599
They are https://github.com/linq2db/linq2db/blob/master/NuGet/linq2db.nuspec

[2017-03-20 13:29] #589 closed

[2017-03-20 14:11] Nelo-cool opened #601 "Union and Index was out of range"
Excuse me, my dear friends.

[code]
Help me pls:) or show a new way for me.

[2017-03-20 14:13] sdanyliv commented on #601
@Nelo-cool, which version of linq2db do you have installed?

[2017-03-20 14:14] Nelo-cool commented on #601
Last, from nuget. 1.0.7.6

[2017-03-20 14:17] Nelo-cool commented on #601
The first and second queries, by separated, return result.

[2017-03-20 14:32] sdanyliv commented on #601
@Nelo-cool, please do the following steps:

[code]
As result one or several test files should be generated
`C:\Users\[username]\AppData\Local\Temp\linq2db\ExpressionTest.0.cs`
Then attach them to the issue

[2017-03-20 14:34] Nelo-cool commented on #601
One second, pls:)

[2017-03-20 14:37] Nelo-cool commented on #601
Attached!

[ExpressionTest.0.zip](https://github.com/linq2db/linq2db/files/855290/ExpressionTest.0.zip)

[2017-03-20 14:40] Nelo-cool commented on #601
Without nested query ( view.Value > db.View.Where(x => x.Value > 5).Average(x => x.Value)) nothing changes, the same exception.

[2017-03-20 14:41] Nelo-cool commented on #601
Attached without the nested query
[ExpressionTest.0.cs.zip](https://github.com/linq2db/linq2db/files/855300/ExpressionTest.0.cs.zip)

[2017-03-20 14:42] sdanyliv commented on #601
Good, more simpliest query is prefer!

[2017-03-20 14:56] sdanyliv commented on #601
Bad news, `Configuration.Linq.GenerateExpressionTest` is not ready for analyzing issues. We have to fix that.
Can you provide file with your DataModel?

[2017-03-20 15:00] Nelo-cool commented on #601
Okey:) One second

[2017-03-20 15:04] Nelo-cool commented on #601
Model and query, query in MostPopularNewsQuery.cs
[Model with query.zip](https://github.com/linq2db/linq2db/files/855395/Model.with.query.zip)

[2017-03-20 15:30] sdanyliv commented on #601
Thanks, created test based on your model. This query is produced:
[code]
Can you confirm that query is failing on SQL Server or on Linq2db side during conversion? Call stack whould be nice.

[2017-03-20 15:40] Nelo-cool commented on #601
System.ThrowHelper.ThrowArgumentOutOfRangeException(ExceptionArgument argument, ExceptionResource resource) +64
   LinqToDB.SqlQuery.<>c__DisplayClassf.<SetAliases>b__e(IQueryElement expr) in c:\projects\linq2db\Source\SqlQuery\SelectQuery.cs:3589
   LinqToDB.SqlQuery.QueryVisitor.Visit2(IQueryElement element) in c:\projects\linq2db\Source\SqlQuery\QueryVisitor.cs:669
   LinqToDB.SqlQuery.QueryVis

[2017-03-20 15:43] sdanyliv commented on #601
Ok, several additional types needed
[code]

[2017-03-20 15:47] Nelo-cool commented on #601
[One entity and enums.zip](https://github.com/linq2db/linq2db/files/855536/One.entity.and.enums.zip)

[2017-03-20 16:00] sdanyliv commented on #601
Strange but i have no exception on this stage. Could you please try latest bulit package located in MyGet.
In Package Manager - add Package source https://www.myget.org/F/linq2db/api/v2

[2017-03-20 16:01] Nelo-cool commented on #601
Okey, trying... one second:)

[2017-03-20 16:05] Nelo-cool commented on #601
You version is 1.7.5. My - 1.7.6 (from nuget). Reinstall all, a few minutes

[2017-03-20 16:06] sdanyliv commented on #601
Try 1.7.7 from MyGet

[2017-03-20 16:07] Nelo-cool commented on #601
Okey

[2017-03-20 16:09] Nelo-cool commented on #601
I can't found this, my screen attach
![my get version](https://cloud.githubusercontent.com/assets/902820/24109124/c35e65fa-0da0-11e7-90f3-db686075ef85.png)
ed.

[2017-03-20 16:12] Nelo-cool commented on #601
and 1.7.5 from myget the same exception (after clean and rebuild).

[2017-03-20 16:13] sdanyliv commented on #601
![image](https://cloud.githubusercontent.com/assets/783759/24109259/c30c13b6-0d98-11e7-9c3f-63bf1bb1d891.png)
![image](https://cloud.githubusercontent.com/assets/783759/24109294/dff7d852-0d98-11e7-8263-c63288226aed.png)

[2017-03-20 16:15] sdanyliv commented on #601
Check box **Include Prerelease** should be checked

[2017-03-20 16:16] Nelo-cool commented on #601
Ahaha
![image](https://cloud.githubusercontent.com/assets/902820/24109434/acc3f6a6-0da1-11e7-8783-e457b4c538c8.png)

[2017-03-20 16:19] Nelo-cool commented on #601
Hmmm, this is worked.
Result in text:
[code]

[2017-03-20 16:21] Nelo-cool commented on #601
But throw new excepion:
LinqToDB.Linq.Builder.UnionContext.ConvertToSql(Expression expression, Int32 level, ConvertFlags flags) in c:\projects\linq2db\Source\Linq\Builder\ConcatUnionBuilder.cs:373
   LinqToDB.Linq.Builder.ExpressionContext.ConvertToSql(Expression expression, Int32 level, ConvertFlags flags) in c:\projects\linq2db\Source\Linq\Builder\ExpressionContext.cs:48
   LinqToDB.Linq.Builder

[2017-03-20 16:23] Nelo-cool commented on #601
Sql query in text after pinnedItems.Union(popularItems).ToString();
Exception throw after pinnedItems.Union(popularItems),ToList();

[2017-03-20 16:27] sdanyliv commented on #601
Ok, i see bug. Just looking onto query, but strange that `query.ToString()` works and `query.ToList()` is not.
Ideally if you provide me with creation script for tables:
`News, Page, MainContent, FriendlyUrl, View`

[2017-03-20 16:28] Nelo-cool commented on #601
this is simple.

[2017-03-20 16:33] Nelo-cool commented on #601
[Script.zip](https://github.com/linq2db/linq2db/files/855646/Script.zip)

[2017-03-20 16:38] sdanyliv commented on #601
I have reasonable exception
[code]
But not yours. I'll try to fix current situation and then you have to try again.

[2017-03-20 16:44] Nelo-cool commented on #601
Okey, of course, they must have the same number of fields. One second and a can count the fields in my results.

[2017-03-20 16:45] Nelo-cool commented on #601
16 and 18. This is a bad)

[2017-03-20 17:29] sdanyliv commented on #601
Good news, bug found and fixed. I'll prepare pull request tomorrow.

[2017-03-20 17:36] Nelo-cool commented on #601
Oh! Thanks! I'll wait!

[2017-03-20 18:01] #569 closed

[2017-03-20 18:01] #588 closed

[2017-03-20 19:24] sdanyliv commented on #384
Will reopen if help still needed

[2017-03-20 19:24] #384 closed

[2017-03-20 19:33] sdanyliv commented on #388
@JCKodel, any updates here?

[2017-03-20 19:36] jogibear9988 commented on #599
Should we move the pdb to a symbol package, and remove them from the normal one?

[2017-03-20 19:38] jogibear9988 commented on #599
Or should I only add a additional symbol package (wich also includes the source?)

[2017-03-20 19:41] sdanyliv commented on #397
@sarabu07, any updates here?

[2017-03-20 19:41] jogibear9988 commented on #582
Here is a little bit: https://www.re-motion.org/download/re-linq.pdf

[2017-03-20 19:41] MeuCronogramaCapilar commented on #388
Honestly, I don't even remember opening this issue =\
Guess you could close it.

[2017-03-20 19:46] sdanyliv commented on #582
Looks like Microsoft outsourced creator of this library ;)

[2017-03-20 19:57] sdanyliv commented on #365
@ili, it is really fix for current issue?

[2017-03-20 20:02] MaceWindu commented on #365
More like a fix for #356

[2017-03-20 21:18] sdanyliv commented on #413
@Lexey, it is fundamentally to write method chains instead of linq expressions? I can not read or even understand this without doping ;)

[2017-03-20 21:23] sdanyliv commented on #419
@Lexey, maybe some pull request?

[2017-03-20 21:26] sdanyliv commented on #267
@ili, do we have attrubute driven converters?

[2017-03-20 21:50] sdanyliv commented on #270
@psliurt, it is still needs our help?

[2017-03-20 21:52] sdanyliv commented on #271
@cfuentealba, proposed solution helped?

[2017-03-20 21:58] sdanyliv commented on #275
It is already closed in #555

[2017-03-20 21:58] #275 closed

[2017-03-20 23:51] sdanyliv commented on #388
Closing for now. Will reopen if needed.

[2017-03-20 23:51] #388 closed

[2017-03-21 03:23] jogibear9988 commented on #267
no, see : https://github.com/igor-tkachev/bltoolkit/issues/243#issuecomment-21253805

[2017-03-21 03:24] #267 closed

[2017-03-21 03:30] jogibear9988 commented on #573
@sdanyliv have you've got the chance to look at them?

[2017-03-21 13:05] sdanyliv commented on #573
@jogibear9988, doing it right now

[2017-03-21 13:25] Nelo-cool commented on #601
Waiting... thanks.

[2017-03-21 13:53] sdanyliv commented on #573
@jogibear9988, many order by test may fail because data in Northwind.sqlite is corrupted because of wrong encoding. For example Customers.CompanyName - has broken names.

[2017-03-21 14:49] #601 closed

[2017-03-21 15:19] sdanyliv commented on #601
@Nelo-cool, check 1.7.7.496 version in MyGet

[2017-03-21 16:38] sdanyliv commented on #573
Added pull request with comments #603

[2017-03-21 16:46] jogibear9988 commented on #82
Yes, it's still failing: https://github.com/linq2db/linq2db/pull/604

[2017-03-21 16:51] jogibear9988 commented on #307
I think not atm.

Maybe someone can add the "feature" Label

[2017-03-21 17:42] Nelo-cool commented on #601
Okey, one second...

[2017-03-21 17:43] jogibear9988 commented on #573
Okay, one less test we need to fix ;-)

[2017-03-21 17:48] Nelo-cool commented on #601
Fine! Perfect working:)

[2017-03-21 18:17] sdanyliv commented on #601
Thanks for detailed help in reproducing!

[2017-03-22 03:50] psliurt commented on #270
it solved, thanks

[2017-03-22 03:50] #270 closed

[2017-03-22 07:18] ili commented on #365
Yes, you are right

[2017-03-22 07:34] ili commented on #599
Why don't you like to leave pdb in main package? As for me it is convenient solution.
I do not see the benefit of symbols package (only package size?)...

[2017-03-22 07:37] ili commented on #582
It needs really a lot of time and experiments to say either it is worth to migrate or not.

[2017-03-22 07:43] sdanyliv commented on #582
As i said earlier it forces to use Expressions as AST for SQL. In my opinion it's bad idea and may slowdown developmen.

[2017-03-22 16:43] jogibear9988 commented on #582
then we close, i only wanted to notify, maybe it has ideas we could use

[2017-03-22 16:44] jogibear9988 commented on #599
okay,  but a symbol package including the source, would not be a bad idea, or?

[2017-03-22 16:54] sdanyliv commented on #582
Sometimes, when i have time, i'm returning to this libraryi. If i'll find that it will be helpful for our project, we can discuss it againn.

[2017-03-23 09:09] ili commented on #413
Yes... we do have a problem here :(
this is the same as #416

[2017-03-23 11:26] ili commented on #307
Is it really needed?

[2017-03-23 11:31] ili commented on #599
Oh, i see, sources...
No problem, just do it! :)

[2017-03-24 09:19] ili commented on #192
you should setup mapping for `Guid?` (`typeof(Guid) != typeof(Guid?)`), so this should work:
[code]

[2017-03-25 01:37] #533 closed

[2017-03-25 01:37] #175 closed

[2017-03-25 09:07] jogibear9988 commented on #592
Is it ok, that I convert the netcore packages to the new csproj format?

[2017-03-25 10:54] #192 closed

[2017-03-25 10:58] #560 closed

[2017-03-25 11:00] sdanyliv commented on #560
@ili, please ensure that hint is not "optmized" by subquery optmizator.

[2017-03-26 06:03] #409 closed

[2017-03-26 06:53] ili commented on #535
@integral-llc  the problem is with
[code]

it is internal, so by default we do not access internal members.

[2017-03-26 07:00] jogibear9988 commented on #73
@sdanyliv  I think it should be possible to do smth. like this:

		[Sql.Expression("StDev({1})", ServerSideOnly = true, IsPredicate = true)]
		public static Nullable<Y> StDev<T, Z, Y>(IGrouping<T, Z> value, Expression<Func<Z, Y>> a) where Y : struct
		{
			throw new NotSupportedException();
		}

but it does not work atm.

[2017-03-26 07:01] jogibear9988 commented on #73
and Sql.Function seems also not to work

[2017-03-26 11:01] sdanyliv commented on #73
Currently i'm working on Window Function support. I think it will be done during next week.
It is related to #542

[2017-03-26 15:14] jogibear9988 commented on #73
Do you only work on window functions, or a genery way for user defined functions?

[2017-03-26 15:18] jogibear9988 commented on #581
6 issues, and we are down to 4 pages of bugs... means that over 50 issues where closed in the last months...
thanks guys...

[2017-03-27 07:26] sdanyliv commented on #73
@jogibear9988, i'm working on generic way to define window functions. StdDev is window function

[2017-03-28 11:42] R-N opened #611 "Can't make auto increment primary key. Can't get last auto increment indentity primary key."
On SQLite3, an integer primary key should auto-increment if it's inserted without any value. However I always get "UNIQUE constraint fail" on Insert. I've tried setting it to a nullable column, same issue.

Then I tried giving it Identity attribute. I can now Insert. It does auto-increment fine from what I see after running my program. However I can't get the last auto-increment primary key after

[2017-03-28 14:47] AK107 opened #612 "Oracle: DateTimeOffset вызывается неверный конструктор"
Проблема (баг) в неправильной инициализации ораклового типа OracleTimeStampTZ из DateTimeOffset.

Вместо

вызывается конструктор

т.е. во-первых, вместо наносекунд передаются миллисекунды. а во-вторых, если так и задумывалось инициализироваться с миллисекундами, то их точности недостаточно.

Т.е. там где ожидались наносекунды, передаются миллисекунды.

В коде даже присутствует комментарий:
// valu

[2017-03-28 15:12] sdanyliv commented on #542
It's no longer feature. I have created pull request #613 and you can try it.
Any comments are appreciated.

[2017-03-29 04:58] sdanyliv commented on #611
I need the following things:

- script for table
- table model
- code with usage of InsertWithIdentity

[2017-03-29 06:03] AK107 commented on #612
Yes, but the presicion is milliseconds.

[2017-03-29 07:03] R-N commented on #611
Ok, since you asked for actual code, I just made a test project and both of those methods actually works (The first one doesnt work after I reopened the database, as expected). So the fault gotta be on my project. Thanks for your response.

By the way, what is the "Identity" attribute? And I can't find "Unique" field, is it the same?

[2017-03-29 07:23] sdanyliv commented on #611
As i know Linq2db do not have information about unique constraints instead of primary keys.
IdentityAttribute just inform MappingBuilder that field IsIdentity.
Ususally you have to set to such fields the following attributes
[code]

[2017-03-29 07:40] ili commented on #612
@AK107 может просто пулл реквест сделаешь? Мы быстренько сольем и на майгет выложим ;)

[2017-03-29 07:49] ili commented on #592
@jogibear9988 sorry for late response.
You can convert them. Also appveyor reconfiguration would be needed, because now we do use VS2015, and we'll use it in future while we do need to support silverlight, so we'll need to have two build configurations... or may me image can be switched with matrix...

[2017-03-29 08:48] #271 closed

[2017-03-29 10:08] AK107 commented on #612
@ili ок, сегодня-завтра запилю.

[2017-03-29 10:12] sdanyliv commented on #612
@AK107, also please prepare unit test for this pull request. Thanks!

[2017-03-29 14:22] R-N commented on #611
Oh, okay. I can do fine without Unique columns.
Thanks for the explanations :)

[2017-03-29 15:23] sdanyliv commented on #611
Closing for now

[2017-03-29 15:23] #611 closed

[2017-03-30 05:24] iouris commented on #283
async version of Delete is also of course needed

[2017-03-30 05:56] jogibear9988 commented on #283
I think then we also need a fuction like ExecuteAsync for our iqueryables like

     IEnumerable<T> ExecuteAsync(this IQueryable<T> qry)

wich sends query to the server, releases the Thread, when the result arrives returns

[2017-03-30 10:49] AK107 commented on #612
Ну в общем и целом готов был запилить родную точность DateTime в 100 нс, но выяснилось, что timestamp у оракула по дефолту имеет точность в 6 (расширяется до 9, но руками) знаков после запятой, а с указанной точностью (100 нс) нужно 7.

Как это реализовано в DateTime: в оракул попадает значение с максимальной точностью (100 нс), но дальше режется до указанной длины (6 по дефолту). Итого тест на ср

[2017-03-30 12:24] #82 closed

[2017-03-30 12:29] AK107 commented on #612
Запилил патч. Во вложении.
[Issue612.patch.txt](https://github.com/linq2db/linq2db/files/882253/Issue612.patch.txt)

[2017-03-30 12:36] sdanyliv commented on #612
Пул реквест плиз сделай, а не патчи

[2017-03-30 12:45] AK107 commented on #612
Это огромный гемор для меня. Я вообще гитом не пользуюсь в командной разработке. Это займет больше времени, чем сам код %)

[2017-03-30 12:56] sdanyliv commented on #612
Пооведу ликбез, сам долго сопротивлялся.
Качаем Github for windows. Ставим. https://desktop.github.com/
Делаем форк репозитория себе. Да хоть на сайте.
Через Github desktop клонируем его себе. Апдейтим свой форк с мастера (все подсказывается)
Делаем бранч, называем его, например, issue_612
Делаем изменения. Комитим с вменяемым текстом. И там же давим на кнопку Create Pull Request - все.
Чтобы апде

[2017-03-30 14:12] sdanyliv commented on #612
Вот и патч почему то не проходит, говорит не тот формат

[2017-03-30 14:13] AK107 commented on #612
Дайте время, я в процессе создания pull request L)

[2017-03-31 11:18] jogibear9988 opened #615 "Usage of linq2db with differnet MappingSchemas"
I use linq2db in a Business Apllication.

In this I have different DataConnections, with different mapped DTO's and different Mapping Schemas.

I want to know, how should I use linq2db correctly? In the Parts of the Code where I need DB Access, I create a DataConnection, and dispose when I've finished the DB Access. But what is with the MappingSchema? I think the creation of this is expensive, so

[2017-03-31 11:24] jogibear9988 commented on #615
At the moment I use
     dataConnection.AddMappingSchema(_mappingSchema)
but it looks like this is also a expensiv call, or am I wrong?

[2017-03-31 18:48] AK107 commented on #612
Багфикс не подошел?

[2017-03-31 20:52] Quentinb opened #616 ".Net Core appsettings.json connection string"
Not sure if it is just me, but I am not able to get the DataConnection to pick up the connection string from the config file in a .Net core WebApi app.

I've tried the normal web.config, appsettings.json, app.config and none of them work. I've tried:
1) Linq2DB-1.7.6
2) Linq2DB Core and
3) linq2db.Core -Version 1.7.7-rc547
in a blank, .Net Core (.Net Framework) WebApi project in VS2015.
[code]

[2017-03-31 21:03] jogibear9988 commented on #283
I've looked at this today.
I think it's a big task, if we want to implement async support (but maybe i'm wrong). Also, for insert, update & delete it's clear what to do. If we also want it for Selects, I think we have to look also, if smth like IAsyncEnumerable<T> should be supported.
I've not really the time to work on this.

[2017-03-31 21:13] jogibear9988 commented on #616
Don't know what we use at net core atm.

But if this is resolved https://github.com/dotnet/corefx/issues/4571 I think we should relook at our Code

[2017-03-31 21:15] jogibear9988 commented on #616
maybe look at this https://github.com/linq2db/linq2db/blob/master/Tests/Tests.NetCore/ConfigurationTest.cs

[2017-04-01 12:32] #612 closed

[2017-04-02 05:17] ili commented on #616
`System.Configuration` is not supported by .Net Core, so you can't use either `app.config` or `web.config`

Also I don't see if there are any standard of storing connection strings in `appsettings.json`.

So for .Net Core `ILinqToDBSettings` was introduced, so you can store settings in any place you want, the only you need is to implement  `ILinqToDBSettings`

[2017-04-02 05:17] #616 closed

[2017-04-02 05:52] ili commented on #615
This all depends on what you really need.
For example, you can configure:
* `MappinfSchema.Default` - this will affect all connections & all data providers
* or you can configure data provider specific mapping schema, for example: `AccessTools.GetDataProvider().MappingSchema` - this will affect all Access connections
* and you can specify per query MappingSchema with `DataConnection.AddMappingSche

[2017-04-02 06:05] ili opened #618 "Documentation"
Ok, let's speak about our Achilles' heel - documentation.
To be honest everything is awful, only documentation is start page & a little bit of wiki. We should work on it!
My suggestion is to build documentation using [DocFX](https://dotnet.github.io/docfx/), things to be done:

- [ ] Examine DocFX & prepare contributors' guide
- [ ] Configure CI to build documentation on each commit
- [ ] Find out

[2017-04-02 07:38] jogibear9988 commented on #618
maybe we can look at https://github.com/StefH/System.Linq.Dynamic.Core
i think he hosts doc on azure. or we use github.io

[2017-04-02 07:42] jogibear9988 commented on #615
Means, I have a problem, when I use linq2db with different databases of the same type, for example mssql, because i could not use one static mapping schema (for example they use different converters), but i could not cache dataconnection.
Maybe we need a mappingschema.compile? and a dataconnection constructor accepting a mapping schema?

[2017-04-02 07:44] jogibear9988 commented on #616
maybe we should look at this again when 2.0 of netcore is released! if smth is implemented!

[2017-04-02 08:39] ili commented on #405
@merthsoft i'v checked it with latest release and problem is not reproduced

* MySQL 5.5.28
* MySql.Data.6.9.9
* linq2db.1.7.6

What MySQL server and provider version you are using?

[2017-04-02 10:20] ili commented on #615
Not really clear. May be you can provide sample, demonstrating the problem&

[2017-04-02 10:28] ili commented on #618
It looks like https://github.com/StefH/System.Linq.Dynamic.Core uses standard xml comments documentation, DocFX uses combined approach xml comments + md files. This looks better for me.

[2017-04-02 11:05] ili commented on #389
@alexey-tyulkin sorry for late response.

I'v failed to reproduce an issue please can you [generate test](https://github.com/linq2db/linq2db/wiki/Issue-reporting#generating-the-test)?

[2017-04-02 11:17] jogibear9988 commented on #615
I mean, I've a Programm wich needs to connect to different MSSql Databases every few seconds. I use Converters in my mappings wich are incompatible, means i create a mappingschema for each database. To read data, I create a DataConnection, but I have to add the mappingschema every time to the DataConnection, so every time it consts performance, cause I can not say to the DataConnection use this al

[2017-04-02 11:17] sdanyliv commented on #389
Yes it may be already fixed and we need clarification.

[2017-04-02 11:25] sdanyliv commented on #615
@jogibear9988, it means taht you have the same DataModel but different DataConnection descedants?

[2017-04-02 11:26] ili commented on #386
@JCKodel please provide your classes & FreeTextTable method definitions

[2017-04-02 12:04] jogibear9988 commented on #615
No, I've not the same data Model. I've different! But Converters are Global

[2017-04-04 16:33] ferbenor opened #621 "Error writing sql sentence"
@AK107 @igor-tkachev on postgresql i write this linq sentence
[code]
and the sql sentence result is this, where the first column not is the same in group by
[code]

[2017-04-04 18:51] inickvel commented on #618
May be readthedocs.io?
For example, autofac docs:  `http://autofac.readthedocs.io/en/latest/`

[2017-04-04 19:14] sdanyliv commented on #618
@inickvel, looks like autofac have generated samples and tutorials by readthedocs, but API documentation by other tool. Maybe it is not ok to have such additional service for API. Seems that DocFx generates both parts of documentation.

[2017-04-04 21:24] sdanyliv commented on #615
@jogibear9988, we will return to this issue later after fixing issues that we currently working on.

[2017-04-04 22:46] jogibear9988 commented on #615
thx!

[2017-04-05 01:31] ili commented on #618
@inickvel please correct me if I'm wrong, readthrdocs generate documentation from soma marckup files, so we'll need to write two docs - marckup and xmldoc, copying data from xmldoc to marckup. DocFX helps to avoid this, that's why I'm looking forward to use this engine

[2017-04-05 19:21] JCKodel opened #1733 "T4 Template issue with collation"
I have an Azure SQL database with collation SQL_Latin1_General_CP1_CI_AI (case insensitive and áççêñt insensitive)

While running the T4 tool:
[code]

[2017-04-05 20:06] ronnyek opened #622 "Oracle's treament of char(xx) fields"
I had one of my engineers run up against an interesting problem... basically we have a legacy field where the type is char(5). Filtering this table with that column was failing because oracle literally pads out the char value with spaces, which causes anything you provide (unless it happens to be the same length as the column) to be invalid.

My question is, would it make sense to have at least th

[2017-04-05 20:57] sdanyliv commented on #622
@ronnyek, i have not found solution for now, but please check
http://blog.linq2db.com/  **ExpressionMethod**

[2017-04-05 21:45] jogibear9988 opened #623 "Silverlight support?"
Is SL support still needed, or could we drop it? Since project.json is now obsolete, csproj does only work with VS2017, wich does not support SL5.

[2017-04-06 02:43] ili commented on #376
Sorry for late response.

This is "by design". You see, this is unclear how to concert `Administrator = x.Administrator != null ? x.Administrator.MapToDto() : null` to SQL

So you should rewrite your query:
[code]

[2017-04-06 02:43] #376 closed

[2017-04-06 03:23] ili commented on #623
SL support is needed.

I'm looking forward to migrate to VS2017, and build SL & WindowsStore projects separately (as it is done for now).

It would be needed to check this on appveyor (they have added SL SDK on VS2017 machine)

I think we should also ask them to add Windows 8 SDK... or migrate on Windows10\UWP

[2017-04-06 03:23] #623 closed

[2017-04-06 05:08] jogibear9988 commented on #623
Okay...

But I think maybe if we release a V2.0 we could drop SL support.

[2017-04-06 06:01] ili commented on #616
I'v looked through current .Net Core state. `System.Configuration` is not supported.

If it would be supported or other standard way of storing connection strings would be provided we'll implement it :)

[2017-04-06 06:36] ili commented on #560
@sdanyliv how can i do it?

[2017-04-06 06:49] sdanyliv commented on #560
@ili, subqueries may moved to top query. Just write test with simple subquery THAT has WITH TIES hint.

[2017-04-06 12:36] #76 closed

[2017-04-06 12:36] #421 closed

[2017-04-06 12:38] ili commented on #535
Does anybody know what would do EF in this case?

[2017-04-06 12:41] ili commented on #432
@ronnyek
Does the problem is still actual? If yes please make PR with test reproducing the case

[2017-04-06 12:45] ili commented on #592
Guys from AV are very friendly :) They have added SL SDK adter my request :)

[2017-04-07 09:14] ili commented on #431
You can try this:
[code]

But in general parameters are only printed for informational purpose. There are no this text in real query send to servet, you can check `DataConnection.LastQuery` for example. Parameters are formed and filled by data clients.

[2017-04-07 09:25] ili commented on #430
You are welcome :)

[2017-04-07 09:25] #430 closed

[2017-04-07 09:29] ili commented on #401
Closing for now, will reopen if needed

[2017-04-07 09:29] #401 closed

[2017-04-07 09:30] ili commented on #399
@sarabu07 can you provide sample database?

[2017-04-07 09:32] ili commented on #397
closing for now, will reopen on feedback

[2017-04-07 09:32] #397 closed

[2017-04-07 09:37] ili commented on #387
@gsteinbacher sorry for late responce.

I'm not sure if i understand you right, may be you can make PR with needed changes?

[2017-04-07 09:41] ili commented on #383
@sarabu07 this means that in your data model `City_Code` is nullable data type, that's why linq2db generates such condition.

Why do you need to remove it? In general this is right condition.

[2017-04-07 09:49] ili commented on #372
No, we do not have such possibility.

I think you will need to do it with adding new property to `PosInfo`
[code]

[2017-04-07 09:50] ili commented on #346
Will reopen on feedback

[2017-04-07 09:50] #346 closed

[2017-04-07 10:01] ili commented on #344
@tb-mtg i'v checked what now is public

Are rest really needed, or we can close an issue?

[2017-04-07 10:07] ili commented on #341
I think we just do not support this scenario now.

How would you insert/update array type with pure ADO .Net?

[2017-04-07 10:08] ili commented on #337
What about PR? :)

[2017-04-07 10:08] ili commented on #336
What about PR? :)

[2017-04-07 10:09] ili commented on #335
PR? :)

[2017-04-07 10:10] ili commented on #333
We do not support ODBC.
Why can't you use OleDb?

[2017-04-07 10:11] ili commented on #332
PR? =)

[2017-04-07 10:11] ili commented on #334
PR? :)))

[2017-04-07 10:15] ili commented on #326
I know, make pull request, you can.

[2017-04-07 10:30] ili commented on #315
You are doing smth. strange...
Please read [intro](https://github.com/linq2db/linq2db/issues/315) and watch this [video](https://www.youtube.com/watch?v=Qc-5UpMYQO0&feature=youtu.be)

Also there are useful information in [wiki](https://github.com/linq2db/linq2db/wiki)

[2017-04-07 10:30] #315 closed

[2017-04-07 10:31] ili commented on #313
Can you provide more information? Sample, demonstrating the issue would be great.

[2017-04-07 10:33] ili commented on #308
What about sample?

[2017-04-07 10:34] ili commented on #307
As for me it is a bad idea to use private constructors... Does for ex EF support it, and how it looks like?

[2017-04-07 10:37] ili commented on #303
How to do it with pure ADO .Net (without using linq2db)?

[2017-04-07 10:38] sdanyliv commented on #326
@MaceWindu , @ili, i have some ideas here. New updates for #613 may contain such feature.

[2017-04-07 10:41] sdanyliv commented on #307
We can not support this. Our reader uses Expression Tree, which do not support such reflection tricks.

[2017-04-07 10:42] ili commented on #300
It is fixed now :)

[2017-04-07 10:42] #300 closed

[2017-04-07 10:43] ili commented on #291
can you provide minimum failing example?

[2017-04-07 10:47] ili commented on #288
I think it would be a part of v2

[2017-04-07 10:58] ili commented on #279
What about:
[code]

this should work

Speaking about your suggestion, i think yes we should implement also read usage for storage.

[2017-04-07 11:05] jogibear9988 commented on #581
4 pages!!! thank you again!!!

[2017-04-07 11:06] RoyC-Retail-Assist commented on #344
The changes noted _will_ allow a custom provider to be written  ( https://github.com/LinqToDB4iSeries/Linq2DB4iSeries ) so  suggest that any further changes could be requested if any future provider writer needed them.

[2017-04-07 11:21] ili commented on #261
should be fixed now

[2017-04-07 11:21] #261 closed

[2017-04-07 11:27] ili commented on #256
@MaceWindu getting back to this issue, in your sample expression would be root for `db` and `bigObject`, or i do have some misunderstood?

[2017-04-07 11:30] ili commented on #239
Is it still actual?

[2017-04-07 11:32] ili commented on #221
@tb-mtg can we close it? BTW, where can i find provider you'v implemented?

[2017-04-07 11:33] sdanyliv commented on #221
https://github.com/LinqToDB4iSeries/Linq2DB4iSeries

[2017-04-07 11:35] ili commented on #217
It is included already [here](https://github.com/linq2db/linq2db/blob/b4998d6bf39ebbd55cb385335d0fcb9b45d82e35/Source/Sql/Sql.cs#L101)

[2017-04-07 11:35] #217 closed

[2017-04-07 11:37] ili commented on #195
actual or we can close it?

[2017-04-07 11:38] ili commented on #174
It should work now

[2017-04-07 11:38] #174 closed

[2017-04-07 11:49] ili commented on #307
Then closing

[2017-04-07 11:49] #307 closed

[2017-04-07 11:50] ili commented on #581
yap... i just closed old issues... no new features :(

[2017-04-07 11:51] sdanyliv commented on #581
Be patient, working hard on it :)

[2017-04-07 11:52] ili commented on #344
So i'm closing the issue :)

[2017-04-07 11:52] #344 closed

[2017-04-07 11:55] ili commented on #581
![omm](http://animalfair.com/wp-content/uploads/2012/04/OMMMM3623735560280_1480720823_33351056_1194226937_n-199x220.jpg)

[2017-04-07 12:19] fraillt commented on #239
I'm afraid, but I no longer have access to SapHana servers and cannot maintain this, but if thing has changed, then you must explicitly copy sap hana dll by making "copy local" in reference properties.
The magic happens in SapHanaTools.cs  file, it will search application runtime directory for files like
Sap.Data.Hana.dll or Sap.Data.Hana.v4.5.dll, if sap hana has new version and file name has cha

[2017-04-07 12:33] ili commented on #239
@fraillt thanks

So I'm closing issue for now

[2017-04-07 12:36] jogibear9988 commented on #307
Can I not use a Private Constructor in Expression Trees? When I get the constructor via reflection, and use https://msdn.microsoft.com/en-us/library/bb301982(v=vs.110).aspx

[2017-04-07 14:53] FabioNascimento commented on #239
The problem still happing with me.

After I copied the assembly to directory occurred other problem the version of Assembly should be the same of client of HANA. Then I changed de code that got Assembly of the GAC and everthing work fine for me.

I will be provide a merge request to this.

[2017-04-07 14:55] FabioNascimento commented on #239
Link of Express Version of HANA : https://www.sap.com/developer/topics/sap-hana-express.html

[2017-04-07 17:53] MaceWindu commented on #337
Not right now, but yes, I have it in plans for summer (design proposal for merge API and then implementation).

[2017-04-07 18:17] MaceWindu commented on #256
If it could wait I would like to postpone it for a couple of months (if nowbody has plans to take this issue now).

This is a more generic issue - right now query expressions cache contains not only query expression itself but also through ConstantExpression or SqlParameter (if I remember correctly) could store references to local objects. Right now we have a big issue with queries catching refere

[2017-04-07 18:18] MaceWindu commented on #336
See see https://github.com/linq2db/linq2db/issues/337#issuecomment-292606854

[2017-04-07 18:19] MaceWindu commented on #335
See see https://github.com/linq2db/linq2db/issues/337#issuecomment-292606854

[2017-04-07 18:19] MaceWindu commented on #334
see https://github.com/linq2db/linq2db/issues/337#issuecomment-292606854

[2017-04-07 19:22] Quentinb commented on #616
Thanks, got my code working using the info provided in the readme. Tested on UBUNTU connecting to a external SQL server box. Thanks for the great work.

[2017-04-07 20:34] jogibear9988 commented on #616
http://stackoverflow.com/questions/39083372/how-to-read-connection-string-in-net-core

[2017-04-07 20:37] jogibear9988 commented on #616
https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-strings

[2017-04-08 09:38] hardhub commented on #283
Does it make any sense?
https://github.com/linq2db/linq2db/blob/master/Source/AsyncExtensions.cs

But what is about insert/update/delete?

[2017-04-08 09:47] hardhub commented on #283
I see that current ToListAsync does the same thing internally:

[code]

[2017-04-08 09:58] hardhub commented on #283
But I think Linq2Db should use internally these methods:
[code]

[2017-04-08 13:29] Quentinb commented on #616
I've also seen Shawn Wildermuth using: (Copy/paste)
`"Tokens": {
    "Key": "info redacted",
    "Audience": "http://mycodecamp.io"
}`

placed inside the appsettings.json. then loaded inside a .net core app...

`
public Startup(IHostingEnvironment env)
{
    var builder = new ConfigurationBuilder()
        .SetBasePath(env.ContentRootPath)
        .AddJsonFile("appsettings.json", optional: true, r

[2017-04-08 20:35] jogibear9988 commented on #283
I've looked into this. It's a big Task...
For me it's also not clear what a GetTableAsync should return.

[2017-04-09 07:48] hardhub commented on #283
@jogibear9988
I do not think we need GetTableAsync. Current GetTable just creates some context/expression objects.

We need only to implement async methods which really perform connection to database.
Something like ToList (internally ExecuteReaderAsync), FirstOrDefault, Insert, Update, including bulk insert BulkCopy (most likely will use WriteToServerAsync) and bulk update which is now possible w

[2017-04-09 08:41] sdanyliv commented on #283
@jogibear9988, we always have EF sources to check how to implement async version. Bu i agree a lot of work here. I'll take a look after analytic functions.

[2017-04-09 16:01] sdanyliv commented on #283
Yes, you can clone EF repository and find many async stuff.

[2017-04-10 07:19] ili commented on #256
That's great! ))

[2017-04-10 07:23] ili commented on #283
Async is a big deal. @igor-tkachev said that it is already implemented in v2 branch, but not merge ready. We are looking for a way to merge it

[2017-04-10 09:04] hardhub commented on #283
Nice news! Maybe if it is not compatible with v1 it is better to release v2? So we will update code for any breaking changes...

[2017-04-10 15:35] jogibear9988 commented on #615
Maybe we only need a constructor with the MappingSchema as Parameter?

[2017-04-10 16:46] sdanyliv commented on #615
@ili, can you take a look at this issue. @jogibear9988, for sure better if you can play with code by yourself and, for start, create test that simulates your problem.

[2017-04-10 16:49] jogibear9988 commented on #615
i'll create a pull req tomorrow.
The problem with the current solution , when we use multiple static mapping schemas as ili suggested, i need to call addmappingschema of datacontext, so the merge will happen every time you create a new datacontext

[2017-04-10 17:54] #221 closed

[2017-04-10 18:17] ili commented on #173
Test added, looks like issue is already fixed

[2017-04-10 18:17] #173 closed

[2017-04-12 05:25] #202 closed

[2017-04-12 06:12] #95 closed

[2017-04-12 07:21] jogibear9988 commented on #307
We support this already !!! see: https://github.com/linq2db/linq2db/pull/631

[2017-04-12 07:37] #88 closed

[2017-04-13 03:13] hoangcuongvn opened #632 "SQLite: "Contains() == false" does not work"
Supposing that MyTable is declared as below
[code]
This code below works fine
[code]
But this code below fails with an exception **LinqToDB.Linq.LinqException: Sequence 'value( ...)' cannot be converted to SQL**.
[code]
This code below fails too.
[code]

[2017-04-13 04:24] jogibear9988 commented on #419
i think it's already fixed: https://github.com/linq2db/linq2db/commit/07fd45c10c878124829a5df1e5e74cee64010676

@ili or @sdanyliv : close

[2017-04-13 04:42] jogibear9988 commented on #365
@ili Is this really an issue? Should we do smth. special if a Function is the last in sequence?

[2017-04-13 04:51] jogibear9988 commented on #343
i think it's wrong! char_length respects unicode characters, so the current mapping is correct! http://www.w3resource.com/mysql/string-functions/mysql-char_length-function.php

[2017-04-13 04:54] jogibear9988 commented on #343
i think maybe we should map StringInfo.LengthInTextElements to CHAR_LENGTH()

[2017-04-13 07:45] MaceWindu commented on #365
Well, I also don't like it from this PoV, but current behavior also not good. Just yesterday I've got another complain from one for our developers that "GroupBy is broken in linq2db"

[2017-04-13 08:06] sdanyliv commented on #365
@MaceWindu, it will be good if you can create PR with unit test that shows problem or new problems.

[2017-04-13 08:44] MaceWindu commented on #365
Test is already here https://github.com/linq2db/linq2db/pull/366/

When server-side grouping used, only GROUP BY fields (keys) returned by query and group values list is empty. There is nothing wrong with it if user really wanted to select only keys.
But in that case I think it should be expected from user to use Select to shape result into something more usefull then IGrouping<> values. And if th

[2017-04-13 22:28] emmanuelpereira commented on #57
BTW, if you guys need, I made a extension to write this with "less code"

`using System.Collections.Generic;

namespace LinqToDB.Data
{
    static class DataConnectionExtension
    {
        public static IEnumerable<T> QueryProc<T>(this DataConnection db, string proc, object values)
        {
            List<DataParameter> parameters = new List<DataParameter>();
            foreach (var prop in

[2017-04-15 09:38] jogibear9988 commented on #57
i think maybe we should generate a expression tree and compile it for each anonymous type and cache it in a dictionary, so reflection is only needed once. Or maybe we create a second function "queryprocwithcache"

[2017-04-16 10:50] ili commented on #622
@ronnyek you mean that we should do smth like this:
`Where CharColumn = 'qwe  '`?

[2017-04-18 08:56] jogibear9988 commented on #615
I've now tested in my real Live application. If I call the merge each time, some of my Query's take 3-4 seconds wich normaly only need 100ms

[2017-04-18 09:26] #372 closed

[2017-04-18 12:25] sdanyliv commented on #632
@hoangcuongvn, i can' reproduce on current sources. Please send POCO class that represents MyTable, maybe problem is here.

[2017-04-18 12:43] sdanyliv commented on #622
@ronnyek, i've tried ExpressionMethod. Check if it is acceptable for you.
It produces the following SQL:
[code]
Test code:
[code]

[2017-04-18 13:00] sdanyliv commented on #419
Closing for now, looks like it is already fixed.

[2017-04-18 13:00] #419 closed

[2017-04-19 01:35] hoangcuongvn commented on #632
@sdanyliv the declaration of MyTable is simply like below:
[code]
I also created a simple sample to reproduce the issue. You can download it by the link below
https://drive.google.com/open?id=0BysoVKf0mGpPVUtHTEZuN2YzZlU

It is 'interesting' that the code below works fine.
[code]

[2017-04-19 12:17] sdanyliv commented on #632
@hoangcuongvn, thanks for the test project!
In version 1.7.6 it is reproduced. But in current sources it is already fixed, possibly in this commit
https://github.com/linq2db/linq2db/commit/9317c028d1a1a573a0048b547a048011f6659dfd
I think new release is planned on this or next weekdays.
If you can not wait, you can get pre-release version in MyGet

[2017-04-19 12:22] sdanyliv commented on #343
@jogibear9988, it is our bug. We have to use CHAR_LENGTH in that case. There are many failing MySql tests, when I've inserted single Unicode value into table Preson.

[2017-04-19 13:19] naasking commented on #534
I've just come across linq2db, and it looks very promising. I'll just chime in here and say that CTEs are absolutely needed to use RDBMs in certain domains. Tree and graph programs particularly, but they even have surprising [performance advantages in paging and filtering](https://sqlperformance.com/2015/01/t-sql-queries/pagination-with-offset-fetch).

[2017-04-19 14:02] sdanyliv commented on #534
@naasking, linq2db gives you ability to decide when to use proposed feature, if it is exists for sure ;)
For raw SQL usage you have fastest mapper, even than Dapper (https://pastebin.com/WnQ8Qt7u via https://github.com/linq2db/linq2db/issues/309)

[2017-04-19 14:11] naasking commented on #534
It's not the mapping that could be faster, it's the SQL query itself. I highly recommend perusing the article. The CTE queries on large data sets are up to two orders of magnitude faster than non-CTE equivalents.

[2017-04-20 10:45] sdanyliv commented on #365
@MaceWindu, it will be ok for now, if we just throw exception in that case?

```'Sequence 'value(LinqToDB.Linq.Table`1[Tests.Model.Person]).GroupBy(keyParam => keyParam.Gender, _ => _)' cannot be converted to SQL'```

Currently there is no easy way in linq2db to process the part of sequence on the client side.

[2017-04-20 11:38] MaceWindu commented on #365
Yeah, I think it makes sense. At least we will tell user that he wrote something stupid.

[2017-04-20 12:21] sdanyliv commented on #365
Should we always throw exception for that case?
And maybe you have "better message text"?

[2017-04-20 12:34] jogibear9988 opened #637 "Read all Mapped Entity Objects from a MappingSchema"
Do we have a API, so I can read all Types wich are Mapped via

      var mb = mappingSchema.GetFluentMappingBuilder();

            mb.Entity<ActionDTO>().HasTableName....

[2017-04-20 12:48] sdanyliv commented on #637
Looks like it is private Dictionary.

[2017-04-20 13:35] MaceWindu commented on #365
Yep, I have no objections for such option.
About message, maybe something like this:
"You should explicitly specify selected fields for server-side GroupBy() call or add AsEnumerable() call before GroupBy() to perform client-side grouping."
and we can set Exception.HelpLink  to this issue.

[2017-04-20 16:58] sdanyliv commented on #239
@FabioNascimento, great i'll try to setup our DBHost virtual machine to handle SAP Hana unit tests.

[2017-04-21 04:10] #343 closed

[2017-04-22 10:17] sdanyliv commented on #365
Fixed in #365

[2017-04-22 10:17] #365 closed

[2017-04-23 11:32] ili commented on #637
Why do you need such API?

[2017-04-23 12:01] ili commented on #615
@jogibear9988 it would be good if you can profile this situation, so we should know where the problem is.

I'v done little changes in your #630 so the perfect would be if you can test without this changes and with em

[2017-04-23 12:05] jogibear9988 commented on #637
I wanted to know wich Types are all mapped to a Database Table, to create a full Backup

[2017-04-23 14:29] ili commented on #637
You can't do it for sure. You see, each mapping schema caches remembers EntityDescriptors, but they are created only when needed, so you can't be sure for moment that all types are cached.

Certainly we can do some enumeration of types and descriptors, but I think it is more safe to use reflection to load all needed types

[2017-04-23 15:10] jogibear9988 commented on #637
Can't we do it for fluent mapped types only? Cause fluent mapped types are hard to find via reflection!

[2017-04-23 15:25] jogibear9988 commented on #637
And also, can we create a init function, that creates entitydescriptors for all fluent mapped types

[2017-04-23 15:30] #637 closed

[2017-04-23 16:22] ili commented on #615
Previous solution used to be bad.
#640 created to fix performance issue

[2017-04-23 17:39] visual1993 commented on #443
the solution proposed by Eykhler is actually not working. Please review the code related to SkipOnUpdate during the SQL statement generation.
I'm attaching the modified code

`[Table(Name = "Products")]
    public class Product
    {
        [PrimaryKey]
        public int ProductID { get; set; }

        [Column(Name = "ProductName"), NotNull]
        public string Name { get; set; }

        [Co

[2017-04-23 17:43] sdanyliv commented on #534
@naasking, will check. And possible create solution for using CTE via linq.

[2017-04-23 17:46] sdanyliv commented on #622
@ronnyek, does this solution helps?

[2017-04-23 18:17] jogibear9988 commented on #443
I think only one Column Attribute is allowed (if so, we need to fix). Try setting SkipOnInsert in the ssme attribute where you set the Name!

[2017-04-23 20:16] visual1993 commented on #443
@jogibear9988 Thank you for the quick answear. I can confirm that the bug exists only if more than one Column Attribute is selected.
@Eykhler The bug should be re-opened to fix the Multiple Column Attribute bug.
This code actually works
[code]
Thanks for the support

[2017-04-23 21:40] sdanyliv commented on #443
@visual1993, it is not a bug, this attribute works for different configurations. But i agree it would be great to throw informative exception that for the same configuration two attributes are defined.

[2017-04-26 09:55] #197 closed

[2017-04-26 14:37] sdanyliv commented on #326
@MaceWindu, have you seen Sql.ExtensionAttribute from PR #613?
Can you play with this? We can easily properties that are needed for your implementation.

[2017-04-26 14:57] sdanyliv commented on #621
It is the same bug as in #264

[2017-04-27 09:11] MaceWindu commented on #326
Will do

[2017-04-27 19:05] MaceWindu commented on #326
Hmm, I was able to implement it, but I consider it as a hack and don't see how this feature could benefit from ExtensionAttribute. Maybe I didn't get your idea?
1. First of all it is not possible to implement this feature using separate attributes as attributes filtered by Configuration name and first suitable picked. There is no way to specify custom filter to perform filtering by method type par

[2017-04-27 19:32] dimensional-difficulties opened #644 "Linq2DB adding unnecessary statements to query when grouping by two parts of a date."
I am trying to generate a query that gets the number of entries with dates that occur within each given month. The SQL form of the query I wish to generate goes like this:

[code]
I tried the following Linq2DB code:

[code]
but the SQL query being generated by this is

[code]
Why is [t1].[StartTime] rather than the month or year? And why is it grouping by that extra [t1].[StartTime] at the end? Ho

[2017-04-27 19:44] MaceWindu commented on #644
Looks like a bug. As a workaround while it is not fixed you can use Sql.ExpressionAttribute like this:

[code]

[2017-04-27 22:13] sdanyliv commented on #326
@MaceWindu, will look at code more closer tomorrow, but i'm rally confused wy you have inroduced ExtensionAttribute's descendant. But it is really good experience when your code is used in such approaches. It's why i'm asking to try this implementation to check that this solution can handle many scenarios.

[2017-04-28 10:38] sdanyliv commented on #644
It is a long standing bug. We also have two disabled unit tests GroupByDate1, and GroupByDate2.
I've tried to fix (3 days!) this but without success. It is a part of ExpressionBuilder class - it is full of workarounds in implementation.
Same issues here #621, #264

[2017-04-28 13:20] sdanyliv commented on #326
Please review Sql.Analytic.cs, this attribute was created for such kind of functionality.

I'm not genius to create silver bullet at one :). But I've created universal way. Any criticism are appreciated,

I've prepared my vision of such kind of functions https://github.com/linq2db/linq2db/pull/613/commits/2e7486aeb7dbb9aa59c4594da8c17b9f59bcb68f

1. It should be Static method no matter which param

[2017-04-28 13:23] dimensional-difficulties commented on #644
Thank you very much.  I assume I can also use
        [Sql.Expression("MONTH({0})", PreferServerSide = true)]
        public static int ByMonth(DateTime date)
        {
            return date.Month;
        }

I am having a bit of trouble using both of these in a .GroupBy statement though...

[2017-04-28 13:32] sdanyliv commented on #644
@dimensional-difficulties, i have another solution. It works but not so clear as expected
Use function `Sql.AsSql`
[code]

[2017-04-28 13:32] MaceWindu commented on #326
Thanks! I see that I missed some stuff from you PR when tried to work with it - maybe you can create documentation page with description of implemented functionality?
I will return to this issue later - I've started my work on #256 and would like to finish it first.

[2017-04-28 13:38] sdanyliv commented on #326
@MaceWindu, i'll create documentation only after approving my PR by @igor-tkachev  :)

[2017-04-28 15:30] sdanyliv commented on #644
Duplicate of #264

[2017-04-28 15:30] #644 closed

[2017-04-28 15:31] sdanyliv commented on #621
Duplicate of #264

[2017-04-28 15:31] #621 closed

[2017-04-29 13:29] MaceWindu commented on #100
@sdanyliv could you assign it to me? I've started to work on merge operation support improvements

[2017-04-29 13:32] MaceWindu commented on #200
Maybe reassign it to me as it is related to merge operation?

[2017-04-29 13:34] sdanyliv commented on #100
Go on, i can't assign issue, because you are not meber of linq2db team. I hope we will fix that soon ;)

[2017-04-29 13:36] sdanyliv commented on #200
It is more related to the mapping. @ili should work with this issue also. You have to cooperate with him.

[2017-04-29 13:42] MaceWindu commented on #438
Will handle it as a part of merge operation improvements.

BTW, @hardhub - temp table will be much better solution if you need to update thousands of records. In our project we use merge for batch updates and we split batches in 2000 record chunks (still it depends on amount of data in each record), because after some point SQL Server parser (?) starts to consume a lot of time trying to parse merg

[2017-04-29 13:47] MaceWindu commented on #200
Ok, maybe you are right. From description it looks like datetime type used instead of datetime2 specified in mapping and should be easy to fix.

[2017-04-29 13:49] sdanyliv commented on #200
What i've found - datetime2 is not handled correctly in whole library. It is more global work.

[2017-04-29 23:13] hardhub commented on #438
@MaceWindu I do not think we will ever use batch size more than 1000 rows. But even 100 separate connections is very heavy load for RDBMS. Also we need to consider limit of parameters for sql command.
So to make my previous post a bit clear name it "multiple update" instead of "bulk update".
I wrote some Update methods based on merge... it looks OK.

[2017-04-30 11:14] sdanyliv commented on #438
@hardhub, great, closing for now will reopen when needed.

[2017-04-30 11:14] #438 closed

[2017-05-01 16:32] Franki1986 opened #646 "Logging"
Hello,
I am sorry, but I cannot find any example gow to log made sql queries, maybe also on error.
There is something explained with miniprofiler, but I cannot see where to add any configuration e.g. to use nlog..
Could you please make a real life example, maybe it is enough with writing to console or to file.

[2017-05-01 16:39] sdanyliv commented on #646
[code]

[2017-05-01 18:53] pebezo commented on #618
I agree, documentation is the weakest point to what is otherwise an awesome library/tool.

I'm not familiar with DocFX, but, from a little browsing, it looks like the typical auto-generated API reference documentation. While this is nice and definitely needed, folks new to the library need more guidance than a typical API reference provides. Is there a platform that offers (ties in) both?

I could

[2017-05-02 08:14] ili commented on #618
@pebezo that's cool! You are welcome to ask any questions we'll do our best to help you!

[2017-05-02 11:08] ili commented on #337
That's really cool.
I do have nothing to add :)
Awaiting for PR's )))

[2017-05-02 11:53] #615 closed

[2017-05-02 14:02] #447 closed

[2017-05-02 20:53] mkchmiel opened #648 "Switch Library"
Hello,

How can I switch between collection/libraries? I am dealing with a db that has 11 that have identical table structures and want to be able to switch between them dynamically.

[2017-05-02 21:42] pebezo commented on #618
What would help is having an outline, like a table of contents. Then, for each node a few bullet points about what should be listed. For example: "inserting data" would list "inserting from context class", "inserting with identity", "inserting select fields", "bulk copy", etc. For the more complicated/esoteric todos it would also be helpful to include a link to a test case or a small sample.

Havi

[2017-05-02 22:12] arbh89 commented on #648
One solution will be to have multiple connectionstrings and initialize DataConnection with connectionstring parameter.

[code]

And the use it.

[code]

[2017-05-03 07:56] sdanyliv commented on #648
@mkchmiel, i suppose i understand your question. You can switch between databases on the fly.
[code]

[2017-05-03 09:03] yarecky1 opened #649 "VB - error with anonymous group by multiple fields"
Assume 2 simple tables:
[code]
With data:
[code]
This SQL query works as expected returning 3 Persons by last added in Activities.
[code]
Result:
[code]
However below Linq query raises an exception.
[code]
[code]
This part of Group By also does not work
[code]
This one also doesn't.
[code]
All above linq queries (and other similar) works as expected on collections in memory.

How to transfer this

[2017-05-03 09:46] ravensorb opened #650 "Is it possible to do "LIKE" statements using this library?"
I am trying to figure out how I can do something like this

[code]

is this currently possible?

[2017-05-03 09:51] sdanyliv commented on #650
Yes,
In native way
[code]
Or through extension
[code]

[2017-05-03 10:06] Franki1986 commented on #646
Hello!
Thank you for the answer, that helped !
But I  have noticed that when I create a select by a 'ToList()' the expiration time in the TraceInfo is not the time the select command need to complete. This trace is not fired.

[2017-05-03 10:12] sdanyliv commented on #646
@Franki1986, please send sample and what you expected to get Also TraceInfo do not have **expiration time**

[2017-05-03 10:18] MaceWindu commented on #618
@pebezo  I agree. I was trying to create such table recently with a list of topics that makes sense to document. See this page: https://github.com/MaceWindu/linq2db/wiki

There are two ways - spend a lot of time trying to find a best way to work on documentation, or just start documenting stuff step-by-step. I think we should use second approach. We can always change structure and format of docume

[2017-05-03 10:22] sdanyliv commented on #618
Also @pebezo, @MaceWindu, maybe you can create xml docs for public members of DataConnection class?

[2017-05-03 10:52] Franki1986 commented on #646
Here a litle example

[code]
I had expected that executionTime is the same like in TraceInfo...

[2017-05-03 11:08] Franki1986 commented on #646
Sorry my fault! I thought the execution time is the time until the complete process has finished (loading and mapping), but it is the database-fetch time..

[2017-05-03 12:00] sdanyliv commented on #649
@yarecky1, looks like VB has bad Linq queries resolver - it creates unexpected method chain that can not be converted to SQL .

Try to use the following syntax
[code]

[2017-05-03 13:15] yarecky1 commented on #649
@sdanyliv, absolutely fantastic, it works. How did you know? I've never used query this way. 👍
I also needed to Count how many times Person is in each group (no matter when Added to Activity)
and this works (Count without argument)
Do you maybe know place in internet when I can see more similar examples with grouping into Max, Sum, Count (other?), multiple Aggregators?
[code]
Returned query is opt

[2017-05-03 13:27] sdanyliv commented on #649
@yarecky1, I've created test on VB and compiled it. Then i examine assembly by dotPeek and found that method chain that were generated is not acceptable for linq2db. Next step is to read Group By specification from MSDN where I've found simplified syntax.

That's all.

[2017-05-03 13:34] ili commented on #618
I'm fully agree with @sdanyliv, let's start from writing xml documentation for public API (DataConnection and mapping attributes).

This would be the core for documentation.

@pebezo it would be great if you can start pull requests with xml doc, we'll help with any additional info required

[2017-05-03 13:40] sdanyliv commented on #649
Your sample generates this method chain:
[code]
But second that I've proposed is simplier:
[code]

[2017-05-03 13:50] sdanyliv commented on #649
Nothing special here it is standard extension functions for IEnumerable.
For example: http://www.csharp-examples.net/linq-aggregation-methods/

[2017-05-03 14:04] dimensional-difficulties opened #652 "Strange queries being generated when using Sql.MakeDateTime"
I am trying to group data by different time periods.  I'm able to use

[code]

to group data by month for example, and that works fine.  But I'm running into problems when I try to group data by week:

[code]
Which I'm using in this Linq2DB expression:
[code]

But the query being generated is incorrect:
[code]
This seems to be grouping things by day.

[2017-05-03 14:07] yarecky1 commented on #649
@sdanyliv, yes, result of what you proposed is clean and maximally optimal. I've never used such a syntax you proposed and looking into web I see that 99% of examples and question from people have syntax like main before. In fact the second example in C# you presented just above is the perfect and cleanest.

I tried this way too
[code]
however I receive new exception
[code]
Could you see what you

[2017-05-03 14:10] sdanyliv commented on #652
It is long standing bug, and there is no way to fix it soon. Try this workaround with Sql.AsSql().
[code]

[2017-05-03 14:23] yarecky1 commented on #649
@sdanyliv, concerning link you provided to examples - thanks, it's clear - but I'm looking for examples and **explanation** of using syntax ```Group By ... Into ... x = Max, Sum, Count``` etc. I try to understand how it works and how it differs from standard ```Group By ... Into ... x = Group``` and then finally in Select statement to choose ```property = Max, Sum, Count``` etc.

[2017-05-03 14:39] sdanyliv commented on #649
@yarecky1, last time I saw VB it was about two decades ago and it was not VB.NET, really strange what it generates. Move forward to left this language for the history :)
https://msdn.microsoft.com/en-us/en-en/library/bb531412.aspx

[2017-05-03 15:08] yarecky1 commented on #649
@sdanyliv Nice. you farewelled VB.Net two decades ago. I met VB when it was necessary to improve my work in Excel, 15 years ago, then 10 years ago I switched to VB.Net. How I hate VB in Excel now. I plan to switch to C# since long time ago but due to many reasons I can't. Many projects I developed are in VB.Net, I need to maintain them and add new functions so I need to stick with it. Learning cur

[2017-05-03 15:24] sdanyliv commented on #649
@yarecky1, with your latest sample - VB.NET compiler adds unnecessary Convert to IEnumerable when generating Expression Tree.
Will check how to ignore this Convert in or code.

[2017-05-03 15:37] ili commented on #650
Also string.Contains() and string.EndsWith() would be converted to appropriate LIKE

[2017-05-03 20:27] MaceWindu commented on #618
Below is a list of XML documentation tasks - maybe we should add it to first message?
Feel free to extend it and reserve tasks for yourself to avoid duplicate work.

For anyone, who will decide to write documentation - inspect code that you plan to document, see what it does and how  it used - having misleading documentation is even worse than no documentation.

After a first few contributions I t

[2017-05-04 11:09] sdanyliv opened #654 "GroupBy Limitation"
Found during investigation of #649
Current implementation can not handle queries like this:
[code]
But this is usual expression tree for VB.NET.
Tested on LinqToSql - it works as expected.

[2017-05-04 13:20] mkchmiel commented on #648
This is wierd, I dont see the option db.GetTable<Entity>().Database("ArchiveDb"). What version of LinqToDB are you using?

[2017-05-04 14:08] ravensorb commented on #650
Perfect -- this was exactly what I was looking for.  Must say -- super impressed with this library so far :)

[2017-05-04 14:17] sdanyliv commented on #648
My fault. You should use **DatabaseName** instead. You can found other extension methods in LinqExtensions class.

[2017-05-04 16:40] mkchmiel commented on #648
I can only assume that my database setup is quite particular and may or may not be industry standard. For me .SchemaName() seemed to work. I appreciate everyone's input, thanks.

[2017-05-04 16:40] #648 closed

[2017-05-04 16:47] sdanyliv commented on #648
Great. That is why some extensions were introduced. For example, my previous customer had partitioning by tables and based on some id I have to to switch to another table with the same columns. These extensions helped me very much, and i've never seen analogues in other ORMs.

[2017-05-06 21:59] MaceWindu commented on #618
Here I tried to compose a list of tasks for Wiki documentation which I think could be usefull.

First of all regarding existing pages:
- [ ] readme.md : move `Let's get started` section to wiki and replace it with link to a documentation root page
- [ ] readme.md : add license section with link to license
- [ ] readme.md : update build status section with information about OS/Frameworks used, so p

[2017-05-08 18:05] ronnyek commented on #214
Man having this actually be optimized is a huge requirement... seems like v2 is... not progressing well at this point (not trying to sound ungreatful, linq2db is close to what I'd see if I picture my ideal ORM) I'm unclear as to whether this actually does what it is supposed to do...  It does seem to make a ton of queries for each child

[2017-05-10 08:58] genusP opened #655 "OData WebApi over Linq2Db"
I write web-service worked by OData protocol.
As data access layer using L2DB.
If odata query include expand option, the result expression throw error:
` Multiple queries are not allowed. Set the 'LinqToDB.Common.Configuration.Linq.AllowMultipleQuery' flag to 'true' to allow multiple queries.`

Executable query:
[code]
How to fix this error without AllowMultipleQuery=true

[2017-05-10 09:33] sdanyliv commented on #655
@genusP, we have limited support of expandable propertie (Include, LadWith, etc).
It is a big work before it can be introduced in future releases.
BTW, why you have uses `IIF` function instead of `? :` ?

[2017-05-10 11:08] genusP commented on #655
For this code the same error:
[code]

Yes.

[2017-05-10 11:12] sdanyliv commented on #655
@genusP, i'll repeat again: we have limited support of such kind of functionality

[2017-05-10 11:28] genusP commented on #655
It turns out that LoadWith allows you to load data for an association many to one?
Облом

[2017-05-11 12:19] FreeNickName commented on #371
Sorry for the waiting, the problem is difficult to repeat, the component that made such a request was updated and now does not do it any more =)

[2017-05-11 12:41] sdanyliv commented on #371
@FreeNickName, maybe this library may be helpful for you
https://github.com/voronov-maxim/OdataToEntity

[2017-05-12 02:52] hardhub opened #656 "ToListAsync requires MSDTC but should not"
In correspondence with this: https://github.com/linq2db/linq2db/issues/438

I have used Merge to implement multi update as part of migration from BLTollkit which has API to update collection of items.

Unfortunately it is not a solution yet... During call to merge Linq2Db tries to use MSDTC.
It is very strange because it should use ambient transaction instead of distributed.
Of course MSDTC is not

[2017-05-12 05:38] ili commented on #650
You are welcome! )

[2017-05-12 05:38] #650 closed

[2017-05-12 05:44] ili commented on #655
We are keeping in mind issues with lack of `LoadWith` functionality. It should be rewritten totally, but for now it is not the main point.

[2017-05-12 05:45] ili commented on #655
Will close for now :(

[2017-05-12 05:45] #655 closed

[2017-05-12 06:35] jogibear9988 opened #657 "Issue with using Custom Mapping Schema"
I still have issues when I use a Custom mapping Schema, maybe they are related because we use "MappingSchema.Default" at some places in linq2db!

[2017-05-12 06:35] jogibear9988 commented on #657
see: https://github.com/linq2db/linq2db/blob/master/Source/Linq/DefaultDataContextInfo.cs#L15

[2017-05-12 08:23] hardhub commented on #438
@sdanyliv

I think I got some troubles... Currently merge adds rows which are as source...
And it is not so good to use it as bulk update solution.
It should be possible to update only that items which are already in db on the moment.

I think SQL server allows to avoid insertion...
Can we simply omit "WHEN NOT MATCHED BY TARGET THEN" and make it possible with options in Merge method of context?

[2017-05-12 10:16] MaceWindu commented on #438
Yes, this is a limitation of current Merge API we have and unfortunately it is not possible to disable insert operation without changes to linq2db source code.
This will be fixed in new Merge API I am currently working on amd expect to release preview version in a couple of weeks.

[2017-05-12 10:47] hardhub commented on #656
I have investigated it a bit more...

Issue is with TransactionScope (async flow enabled) and ToListAsync (from AsyncExtensions).

Originally I mentioned Merge because it was next command executed in transaction scope... But 2 merge commands runs fine... 2 readers not (2nd one raises exception).

So I still do not know the reason... But I will explain what I know... Let's say you have the followin

[2017-05-12 10:55] hardhub commented on #656
I am sure we need to replace current async code with framework provided calls. For example ExecuteReaderAsync... Also some workaround will be good...

https://github.com/linq2db/linq2db/issues/283#issuecomment-292707299

P.S. It is not "feature" it is "bug"....
DTC is not supported in Mono.. and most likely will never be supported...

[2017-05-12 11:37] hardhub commented on #656
I have tested FirstOrDefaultAsync on the same table and all works fine...
So it can require some small delay to reproduce it like it is for ToListAsync (table has 200 rows).

[2017-05-12 14:19] hardhub commented on #656
The latest version from master does not work at all:

IDataContext is disposed Object name: 'DataConnection'.

   at LinqToDB.Data.DataConnection.ThrowOnDisposed()
   at LinqToDB.Data.DataConnection.LinqToDB.IDataContext.SetQuery(IQueryContext queryContext)
   at LinqToDB.Linq.Query`1.SetCommand(IDataContext dataContext, Expression expr, Object[] parameters, Int32 idx, Boolean clearQueryHints)

[2017-05-12 14:28] sdanyliv commented on #656
@hardhub, do you mean ToListAsync?

[2017-05-12 14:59] hardhub commented on #656
Yes.. I renamed it already...

[2017-05-12 15:07] sdanyliv commented on #656
I suppose you have disposed connection befor ToListAsync finished. Your sample from pseudo code shows that situation. Right usage below:
[code]

[2017-05-12 16:36] #646 closed

[2017-05-12 16:43] frankiDotNet opened #658 "Load as xml"
Hello,
I have reports that I would bind to a datasource from that I only know the schema.
Till now I loaded the data with Nhibernate into a datatable or dataset. But for my opinion this is too overhead only to represent data, although I have to de/serialize over wcf service.
It would be nice if there is a way to load the data directly into a xml string or stream. I know I could map the data to an

[2017-05-12 17:12] hardhub commented on #656
What is difference? I do not see anything wrong in my code.
[code]

[2017-05-12 17:22] sdanyliv commented on #656
@hardhub, my fault, typing from iPad. Could you please provide with exact code that fail?

[2017-05-12 17:30] hardhub commented on #656
I think I will need to create some test project... and share it... because it is hard now to obfuscate real project... But it will be in common as my pseudo code.

[2017-05-14 20:47] Franki1986 opened #659 "Wcf service serializer"
1. Is it possible to change the serializer that is used for the wcf service? I would like to use protobuf-net.
Or better said, would there be any performance improvement if I would change, or is the  current serialization method even better?
2. Is there a way to compress the result from db with something like snappy or sharp zip?

Iean these questions are realy important, because linq2db is realy

[2017-05-15 04:32] jogibear9988 commented on #659
It is possible to change wcf serializer, but if you do so, i would suggest to use netserializer! Also, compression is also possible, see: http://stackoverflow.com/questions/10642600/wcf-custom-binding-for-compression

[2017-05-15 06:24] Franki1986 commented on #659
Thanks for the response! Because I am new to linq2DB and would realy like to use it in my new projects, is there the possibility for a short example?

Based on the Windows Host example where would I start?
Host:

[code]

Client:

[code]

[2017-05-15 06:40] Franki1986 commented on #659
Ok correct me if I am wrong but but to change the serializer to protobuf-net it is enough to ad this to server and client:

`endpoint.Behaviors.Add(new ProtoEndpointBehavior());`

For compression (.NET >= 4.5):

[code]

[2017-05-15 08:02] MaceWindu commented on #659
I'm looking at how it is implemented and as I can see - you cannot just replace one serializer with another easily. Current implementation doesn't provide serializer abstraction - calls to current serializer (`LinqServiceSerializer`) placed into client and service implementation and serialized query is a string parameter, passed as a parameter of `ILinqService` interface methods.
From other size I

[2017-05-15 08:23] Franki1986 commented on #659
Thanks for the answer! This was part of my first question, if there is the necessity to replace it, or if the serializer has enough performance due to the fact that there are no comparisons.
For the second question, is the way I posted it right and can it be used so?

[2017-05-15 09:32] MaceWindu commented on #659
Sorry, I didn't used binary encoder with compression, so I cannot answer it. But I don't see a reason why it shouldn't work. Message encoder will not conflict with serialized query/response, because their serialization don't utilize WCF stack.

[2017-05-15 10:29] sdanyliv commented on #618
Added Window Functions documentation https://github.com/linq2db/linq2db/wiki/Window-Functions-(Analytic-Functions)

[2017-05-15 10:37] sdanyliv commented on #632
@hoangcuongvn, closed for now. Issue already fixed.

[2017-05-15 10:37] #632 closed

[2017-05-15 10:54] MaceWindu commented on #618
Looks good!
Could you add a section with links to documentation for supported db engines, not only Oracle:
MSSQL: https://docs.microsoft.com/en-us/sql/t-sql/queries/select-over-clause-transact-sql
Postresql: https://www.postgresql.org/docs/current/static/tutorial-window.html
DB2 z/OS: https://www.ibm.com/support/knowledgecenter/en/SSEPEK_12.0.0/sqlref/src/tpc/db2z_olapspecification.html
DB2 LUW: h

[2017-05-15 11:09] sdanyliv commented on #618
Done

[2017-05-15 13:08] ili commented on #659
1. @Franki1986 there is no necessity to replace current serializer, it is really simple and supposed to be fast enough from one side and compact from another.
1. Speaking about the compression, is it really needed? You do have problems or expect any?

[2017-05-15 13:23] Franki1986 commented on #659
1. That's ok
2. I have connections over the internet to customers who don't have highspeed connections and I have often to transport huge data for their reports, so this is my weakest layer. I am switching from linq to NHibernate to Linq2DB want to improof every single point.

[2017-05-15 13:37] sdanyliv commented on #659
@Franki1986, just try to enable Message encoding and i think it should work.
Please answer in few words. How your reporting works? It is grids, pivot grids? It is some reporting engine?

[2017-05-15 13:53] Franki1986 commented on #659
@sdanyliv I am using DevExpress XtraReports, you can bind them to Xml or Objectdatasource or DataTable ... [https://documentation.devexpress.com/#XtraReports/CustomDocument2594](DevExpress datasource)

There is even a simple way to bind to linq to sql..
[https://www.devexpress.com/Support/Center/Example/Details/E1455](Xtrareport linq 2 sql datasource)

[2017-05-15 13:57] sdanyliv commented on #659
@Franki1986, ok.
As i know XtraReports is server side component and queries are executed on reporting server.
For which purpose do you need LinqService in that case? Your reporting server connects to database via other app server?

[2017-05-15 14:06] Franki1986 commented on #659
Ok, it is a little bit more, I have a server that is connected to multiple clients. The server loads data over a WCF service from the clients. Each client has it's own database with user specific and hardware-info data. I cannot connect directly the database from the server because Firebird does not have secure access. Although I do hardware controling from the server -> client connection, so that

[2017-05-15 14:11] sdanyliv commented on #659
@Franki1986, i see that your system has architecture complicity and maybe caching on reporting server. Try to enable message encoding with gzip.

[2017-05-15 14:16] Franki1986 commented on #659
:-) yes it is a huge project based on historical development.. I will try and report my results, I will also test if there is a way to use 7zip z standard and report...

[2017-05-15 14:20] sdanyliv commented on #658
@Franki1986, i think you have found solution via LinqService. Can we close this issue?

[2017-05-15 14:29] Franki1986 commented on #658
For my personal problem there is the solution with the LinqService, that's  right. But I think that this is another point of view, the initial thought was, is there a way to load data directly to xml without mapping it first to a class and then serialze this to xml?

[2017-05-15 14:32] sdanyliv commented on #658
@Franki1986, i think it is not one day implementation efforts. And... we have many not closed critical bugs with linq.
Maybe someday when it is really needed.

[2017-05-15 14:37] Franki1986 commented on #658
Sure, this is not a must have feature! By the way, great job with the project and the support!!!!

[2017-05-15 15:25] jogibear9988 commented on #657
seems not to be a problem...

[2017-05-15 15:25] #657 closed

[2017-05-16 12:40] sdanyliv commented on #264
@Svancara, I've  prepared correct fix for that issue #660

[2017-05-16 14:19] sdanyliv commented on #269
@MaceWindu, could you please rewrite this sample using TestData data model?

[2017-05-16 18:23] Int32Overflow opened #661 "[MySql] Autoincrement/Identity not returned"
Currently I'm using a MySql-Database/MariaDb. The value from the Autoincrement/Identity is not set when inserting. (Current Identity not returned!)

Can anyone confirm this behavior?

**MySql-Tabel Schema:**
[code]

**C# Code:**
[code]

[2017-05-16 18:30] #652 closed

[2017-05-16 18:48] sdanyliv commented on #661
Use InserWithIdentity function
`bt1.Id = db.InserWithIdentity(bt1);`
Linq2db do not refreshes entities and do not perform change tracking

[2017-05-16 19:30] Int32Overflow commented on #661
Ah okay thank you @sdanyliv
that's my fault... It works now :-)

[2017-05-16 21:36] MaceWindu commented on #269
Of course.

Test query

[code]

Generated SQL (invalid). Similar to one in defect but still different. Maybe because of different relations schema or due to changes in last two years (will try a bit more to reproduce same behavior using different tables).
[code]

Also commenting `First` call produce interesting results. Contains converted to comparison instead of LIKE:
[code]

[2017-05-16 22:11] #661 closed

[2017-05-16 23:40] Lexey commented on #269
It is a correct behaviour. Note that you are calling IEnumerableContains instead of String.Contains in this case.

[2017-05-17 07:07] MaceWindu commented on #269
Hmm, you are right here

[2017-05-17 07:49] MaceWindu commented on #269
Rewriting it like that produce proper SQL. I wonder why I didn't use it then - maybe it wasn't possible in real code...

[code]

[2017-05-17 07:51] Int32Overflow opened #662 "[Idea] FodyAddin for linq2db"
What are your thoughts about the idea of ​​building an addin of fody for linq2db?

An Addin of Fody (https://github.com/Fody/Fody) can modify the IL-Code at compile time.

For example, you could automatic create CompiledQuery at compile time. This improves the performance of linq2db and the developer does not have to write it himself.

[2017-05-17 08:09] MaceWindu commented on #269
Short summary: looks like it is still possible to express your intentions (`Issue269v2`), but it is too easy to fail and in some cases you could even not notice it immediately (`Issue269v3`)

[2017-05-17 13:16] sdanyliv commented on #662
@Int32Overflow, never heard about that but it is interesting.
I have no idea how it can be used in our current code, but for users - possible we can grab local Expression Trees into some static class and reuse them - it may really improve server's performance because not needed instantiation of Expression Tree on every function call.

[2017-05-17 20:20] filtration opened #663 "How can I connect to an external mysql Db?"
I am using Linq2Db, for an ORM structure. I have creating a mysql database, via Xampp, and I am trying to connect to it, before using Linq2Db, I connected to my database like so:
[code]

My varables are just settings like so:

    DatabaseHost = localhost;
    DatabaseName = People;
    DatabaseUser = Root;
    DatabasePass = ;

That worked great for my old way of doing it, but now with `Linq2Db`

[2017-05-18 05:55] ili commented on #663
Hello @filtration

do this:
[code]

And now we should say to `linq2db` to use new configuration:
[code]

[2017-05-18 05:57] ili commented on #662
Generating CompiledQuerys would be great, but it is not so easy because of query composition :((

[2017-05-18 13:17] shnipov opened #665 "InvalidCastException "Column is null" on select from PostgreSQL"
I'm using linq2db with PostgreSQL 9.6.2
Target framework 4.5.1
linq2db 1.8.0
npgsql 3.2.2

I've updated npgsql from 3.1.8 to 3.2.2 because of better TransactionScope support.

But they've also changed the behavior of `GetSchemaTable()` method in`NpgsqlDataReader : DbDataReader` – now it depends of `CommandBehavior` parameter and by default doesn't return correctly `AllowDBNull` property of columns

[2017-05-18 13:43] filtration commented on #663
Issue is now fixed. Thank you very much, ili.

[2017-05-18 13:44] #663 closed

[2017-05-18 13:47] ili commented on #663
@filtration not at all, you are welcome!

[2017-05-18 13:54] ili commented on #665
Hello @shnipov,
It would be great to have a stack trace

[2017-05-18 13:58] ili commented on #244
It should be fixed with 1.8.0 T4 packages (also .Net Core support implemented)

[2017-05-18 13:58] #244 closed

[2017-05-18 14:00] ili commented on #313
Closing, will reopen on additional info

[2017-05-18 14:00] #313 closed

[2017-05-18 14:00] ili commented on #389
Closing, will reopen on additional info

[2017-05-18 14:00] #389 closed

[2017-05-18 14:01] ili commented on #405
Closing, will reopen on additional info

[2017-05-18 14:08] ili commented on #431
Closing, will reopen on additional info

In general declaring & assigning parameters are shown only in debug for informational purpose.

Only select closure is sent to the server. So assigning and sending parameters is not under linq2db, Oracle provider is responsible for it.

[2017-05-18 14:10] ili commented on #432
Closing for now, if still an issue, please make PR reproducing the problem (better with fix :)))

[2017-05-18 14:10] #432 closed

[2017-05-18 15:19] shnipov commented on #665
Here it is:
[code]

[2017-05-18 16:03] sdanyliv commented on #665
@shnipov, great will check that tomorrow.

[2017-05-19 07:19] Kempe opened #667 "Using Where-Clause with predicate causes Npgsql.PostgresException"
I'm using linq2db with PostgreSQL 9.6
Target framework 4.5.2
linq2db 1.8.0
npgsql 3.2.2

I got an Npgsql.PostgresException when executing a Select statement using Where-Clause passing a predicate. v1.7.6 works without any errors. Also v1.8.0 works when passing a lambda.
**Working Sample:**
[code]

**Exception Sample:**
[code]
PredicateBuilder is a helper class from http://www.albahari.com/nutshell

[2017-05-19 07:36] ili commented on #667
It looks like `PredicateBuilder` builds strange expression, can you please generate test as written [here](https://github.com/linq2db/linq2db/wiki/Issue-reporting#generating-the-test)

[2017-05-19 07:41] sdanyliv commented on #667
@ili, maybe it is my 'feature' that fixes stack overflow. Will check.

[2017-05-19 07:46] ili commented on #667
@sdanyliv may be, please check.

@Kempe also please try `LinqToDB.Common.Configuration.Linq.UseBinaryAggregateExpression = false`

[2017-05-19 07:49] Kempe commented on #667
Here's the ExpressionTest File... but like I said... v1.76 works fine. Only 1.8 has some trouble.... Nothing has been changed in between from my side...

[ExpressionTest.0.cs.txt](https://github.com/linq2db/linq2db/files/1013498/ExpressionTest.0.cs.txt)

[2017-05-19 07:52] Kempe commented on #667
Using 'LinqToDB.Common.Configuration.Linq.UseBinaryAggregateExpression = false;' seems to work. My test passed without problems.
So what's your suggestion? Always set this property before using linq2db???

[2017-05-19 07:53] ili commented on #667
@Kempe yes, for now please set, we'll fix the problem and publish hot fix ASAP

[2017-05-19 07:58] Kempe commented on #667
Cool. Thanks a lot for your help. That was really fast!

[2017-05-19 10:16] Int32Overflow commented on #662
Yes, but maybe we can try it? You can implement complicated things in fody (Look at the many addins...)

[2017-05-19 10:20] hardhub commented on #438
@MaceWindu Can you say what is used for Merge in MySQL provider?

[2017-05-19 10:22] ili commented on #662
PR? :)

[2017-05-19 10:49] MaceWindu commented on #438
See https://github.com/MaceWindu/linq2db/wiki/MERGE-INTO-UPSERT-Implementations-Review#mysqlmariadb

MySQL doesn't support MERGE INTO command. There are upsert extensions for INSERT command, that should allow to emulate some parts of MERGE INTO command, but I didn't planned to support them in new Merge API initially. If you need them I could try to add them to my planning.

Also current API doesn'

[2017-05-19 12:06] ldenis2 opened #668 "Double is not converted to proper value - MS SQLServer"
Double conversion to SQL query is not correct. Following code doesn't work:
[code]

The code throws an exception like ----> System.Data.SqlClient.SqlException : The floating point value '1.79769313486232E+308' is out of the range of computer representation (8 bytes).

It happens since the code is converted to SQL query like:
`select dbo.SomeFunction(1.79769313486232E+308) from someTable
`
but if i

[2017-05-19 13:12] #269 closed

[2017-05-19 13:17] ili commented on #668
Not sure this is a bug... C# & SQL Server have different ranges & precisions for floating point values, I can't see how can we fix it :(

[2017-05-19 13:18] sdanyliv commented on #269
@MaceWindu, what i learn from this issue:
if you want good SQL - write linq queries but not linq method chain. It keeps common sense and you can early detect weakness of your query,

[2017-05-19 13:19] #667 closed

[2017-05-19 13:21] sdanyliv commented on #668
@ili, I have solution but there issue with SQL Lite, it returns Infinite in that case.
Will fix that on next week.
Also there are problems with **decimal**

[2017-05-19 13:25] MaceWindu commented on #668
@ili this is an issue in linq2db - we should generate float/double literals in roundtrip format, for double it is G17. But yeah, as @sdanyliv mentioned with Sqlite - some providers could also handle FP numbers incorrectly.

[2017-05-19 13:27] ili commented on #668
OK, I see :)

[2017-05-19 17:54] MaceWindu commented on #269
@sdanyliv there are two problems with this approach:
1. I cannot stand linq syntax :-)
2. Specifics of our project require a lot of code generation where we cannot use linq syntax

[2017-05-19 18:19] sdanyliv commented on #269
1. Maybe i have learn SQL before .NET, for me it is more explainable and really keeps you closer to SQL.
2. I'm choosing both techniques, but for SQL I'm trying to use linq queries, especially when group by or join are used.

[2017-05-20 01:43] hardhub commented on #438
@MaceWindu But how to implement bulk update for MySQL without Merge API? It will be really nice to have at least basic implementation for MySQL as you suggested.

What I am trying to achieve is possibility to:
1) Insert one or multiple rows at once
2) Update one or multiple rows at once
3) Delete one or multiple rows at once

For major database systems or at least these 3:
1) SQL Server
2) MySQL
3

[2017-05-21 02:33] integral-llc opened #672 "GroupBy - not supported exception"
Given such a LINQ query
[code]
it fails with the exception.
`"The method or operation is not implemented."`

Stack Trace:
[code]

[2017-05-21 02:34] integral-llc commented on #672
Forgot tp say, the same query works beautifully in EntittyFramework  which generates such a SQL

`
SELECT [t3].[test], [t3].[Id], [t3].[Name], [t3].[Enabled], [t3].[Created], [t3].[Modified], [t3].[CreatedBy_id], [t3].[ModifiedBy_id], [t3].[Tags], [t3].[Description], [t3].[ImageUrl], [t3].[ImageFullUrl], [t3].[Aliases], [t3].[LongDescription]
FROM (
    SELECT [t0].[Name]
    FROM [Stone] AS [t0]

[2017-05-21 03:50] #228 closed

[2017-05-21 18:43] MaceWindu opened #673 "Regression with BinaryAggregateExpression"
@sdanyliv , looks like another issue like #667. After merge with master one of my tests started to fail with following error:
[code]

Use of `LinqToDB.Common.Configuration.Linq.UseBinaryAggregateExpression = false;` helps.
You can find this test in following branch https://github.com/MaceWindu/linq2db/tree/merge_improvements

[2017-05-21 18:52] MaceWindu opened #674 "Failures in recently added tests"
Some of recently added tests fails on some providers.
For cases 2 and 3 looks like you only need to exclude failed providers. For test 1 I'm not sure.

1. Linq.SqlExtensionTests.DatePartMillisecond.DB2
[code]

2. Linq.SubQueryTests.Contains1 and Linq.SubQueryTests.Contains2
Those tests fail for DB2 and MariaDB configurations.
[code]

3. Following tests also fail for specified providers
- UserIssue

[2017-05-21 18:55] sdanyliv commented on #674
@MaceWindu, @ili already prepared fixes in #670

[2017-05-21 18:57] MaceWindu commented on #674
Hmm, yeah, looks like some of those issues handled there

[2017-05-21 21:13] MaceWindu commented on #438
@hardhub  for now (next week or two) I will work solely only on merge support for RDBMS that supports `MERGE INTO` command. After I will finish with it, I will see what we can do for RDBMS that support `UPSERT` commands to support them in Merge API.

If you are interested, you can try to build linq2db from this branch: https://github.com/MaceWindu/linq2db/tree/merge_improvements

Note that it will

[2017-05-22 07:57] ili commented on #674
I did... waiting for review to merge :)

[2017-05-22 08:02] ili commented on #674
Will exclude tests for mentioned databases

[2017-05-22 08:11] ili commented on #674
@MaceWindu do you need `DBHost` virtual machine image?

[2017-05-22 08:26] MaceWindu commented on #674
Is it an image with test databases?

I've already installed almost everything except:
- SAP HANA - need to try their VM image once more
- Informix - installed, but needs configuration
- DB2 z/OS, DB2 iSeries of course
- SQLiteMs - didn't tried .net core yet
- oracle native client from repository doesn't work with latest oracle XE
- azure and separate instances for each sql server version - have ac

[2017-05-22 09:56] ili commented on #674
Yes this is VMWare image with most of supported databases

[2017-05-22 14:38] sdanyliv commented on #672
@integral-llc, i can not reproduce. Please post GFDDataModels.Stone class definition and maybe parent classes.

[2017-05-22 17:19] integral-llc commented on #672
Here it is. I've also tried in LinqPad with latest Linq2Db driver and got the same issue.
`
	[Table(Schema="dbo", Name="Stone")]
	public partial class Stone
	{
		[PrimaryKey, Identity   ] public int             Id              { get; set; } // int
		[Column,     NotNull    ] public string          Name            { get; set; } // nvarchar(256)
		[Column,        Nullable] public bool?           Ena

[2017-05-22 20:05] jogibear9988 opened #676 "Wrong SQL in Join Statement"
See following joins:
[code]
Both Querys create the same SQL, wich I think is not correct. Don't know if the first one is possible in SQL.

Generated SQL:

[code]

[2017-05-22 20:10] jogibear9988 commented on #676
I think also

				var jj3 = from o in db.Order
					from c in db.Customer.Where(x=>x.CustomerID == o.CustomerID).DefaultIfEmpty().Take(1)
					select new { o, c };

				var res3 = jj3.ToList();

or

				var jj3 = from o in db.Order
					from c in db.Customer.Where(x=>x.CustomerID == o.CustomerID).Take(1)
					select new { o, c };

				var res3 = jj3.ToList();

create wrong queries

[2017-05-22 20:11] jogibear9988 commented on #676
Always we Take 1 before the join, and not after the join

[2017-05-23 00:26] yuzd opened #677 "InsertOrUpdate method does not support identity field"
mysql table schema:
[code]
[code]
but i want to excute sql like this:
[code]

[2017-05-23 08:20] #665 closed

[2017-05-23 08:24] ili commented on #674
PR merged, test now should success

[2017-05-23 08:24] #674 closed

[2017-05-23 09:44] #673 closed

[2017-05-23 14:43] sdanyliv commented on #672
@integral-llc, i can not reproduce exception, but!
Yes it is not trivial for our Expression parser and optimizer. I suggest to rewrite this query in more optimal way for SQL Server
[code]
It produces the following query:
[code]

[2017-05-24 14:24] sdanyliv commented on #676
@jogibear9988, which SQL do you expect? For me linq2db works as expected.
You have asked for join to limited table - right SQL is produced,

[2017-05-24 14:38] jogibear9988 commented on #676
i thought i limit after the join

[2017-05-24 14:39] jogibear9988 commented on #676
i need to check with linq to objects

[2017-05-24 18:57] MaceWindu opened #679 "Use of aggregates without groupping"
I've tried to write a query for this question (edit: there was link before, but StackOverflow removed question) and found several issues. I'll fill separate defects for each.

BTW, maybe we should create gitter channel for development-related discussions?

Test code for all issues:

[code]

linq2db fails to generate SQL for code above:
[code]

[2017-05-24 18:57] MaceWindu opened #680 "Count with filter generates subquery in select list"
for details and test code see #679

Example of generated query:
[code]

[2017-05-24 18:57] MaceWindu opened #681 "Explicit schema/database names handled incorrectly by mysql provider"
for details and test code see #679.

MySQL/MariaDB qualified table name could contain only database name: https://mariadb.com/kb/en/mariadb/identifier-qualifiers/

Now we generate `db.schema.table` or `db..table` if schema is not set.
Also we should check  other qualified names generation for MySQL if we have any.

error message:
[code]

generated query:
[code]

[2017-05-24 18:57] MaceWindu opened #682 "Firebird provider generates incorrect qualified table name"
for details and test code see #679, similar to #681

Firebird doesn't support qualified names for tables and we shouldn't generate schema/database name for firebird provider.

Error:
[code]

Generated SQL:
[code]

[2017-05-24 18:58] MaceWindu opened #683 "Explicit schema/database names handled incorrectly by oracle provider"
for details and test code see #679, same as #681, but for oracle

Error:
[code]

SQL:
[code]

[2017-05-24 19:00] MaceWindu commented on #681
@ili assign it to me, as it also affects my current work on merge api

[2017-05-24 19:00] MaceWindu commented on #682
@ili assign it to me, as it also affects my current work on merge api

[2017-05-24 19:00] MaceWindu commented on #683
@ili assign it to me, as it also affects my current work on merge api

[2017-05-24 19:31] sdanyliv commented on #679
@MaceWindu, try to use Window Functions without grouping, not checked yet but i think it should work.
`Sql.Ext.Count(expression).ToValue()`

[2017-05-24 19:45] MaceWindu commented on #679
Great!
It works:

[code]

[code]

[2017-05-24 20:10] sdanyliv commented on #679
@MaceWindu, i will extend (i had plans) current functions tho work with gouping, but i need some digging in current Builders.

[2017-05-25 06:16] ili commented on #680
@MaceWindu can you please make branch & PR with test reproducing the issue?

[2017-05-25 06:18] ili commented on #681
@MaceWindu you should have rights to assign issues, no?... If no i'll look forward how to assign rights.

[2017-05-25 06:19] jogibear9988 commented on #676
if added a commit to show the test

[2017-05-25 07:54] sdanyliv commented on #676
@jogibear9988, will check today.

[2017-05-25 09:38] MaceWindu commented on #680
ok

[2017-05-25 09:39] MaceWindu commented on #681
Nope, GitHub documentation says that I need write premissions for that

[2017-05-25 18:17] sdanyliv commented on #656
@hardhub, have you found why your code fails with 'IDataContext is disposed' exception?

[2017-05-25 18:22] hardhub commented on #656
Not yet..
I temporarily reverted to previous version.. and enabled MSDTC.
I hope I will find time to do it on next week.

[2017-05-25 18:27] sdanyliv commented on #656
Great, it is critical for us to catch probleam early. Many developers have used DataConnection in inproper way so it's why this exception was introduced.

[2017-05-25 18:52] hardhub commented on #656
I do not think that it is not properly used.
As I wrote I can guess that it is bad async support.
But let me check of course...

[2017-05-26 10:01] sdanyliv opened #685 "[Feature] Support full set of joins"
As from this documentation: https://www.w3schools.com/sql/sql_join.asp
There are four main types of joins:

Join Type| linq2db||
----|----|--
**INNER JOIN**|Fully|Fully supported
**LEFT JOIN**|Fully|Fully supported
**RIGHT JOIN**||There is workaround: swap queries and make left join :)
**FULL OUTER JOIN**||No simple way to define

I propose to support something like this (like with DefaultIfEmpty)

[2017-05-26 10:51] MaceWindu commented on #685
There is also cross/carthesian join

Should this feature cover only joins using linq or joins, defined by AssociationAttribute?

[2017-05-26 11:23] jogibear9988 commented on #685
Look at https://github.com/fsateler/MoreLINQ/tree/master/MoreLinq they have a few additional operators: https://github.com/fsateler/MoreLINQ/blob/master/MoreLinq/FullGroupJoin.cs

[2017-05-26 11:25] jogibear9988 commented on #676
should I do any work on my test, or will you do?

[2017-05-26 12:43] sdanyliv commented on #685
@MaceWindu, let's focus on these four. Cross and Cartesian joins already supported.

**cross**
[code]
**cartesian**
[code]
If you have idea how it may be useful for AssociationAttribute, maybe, but i think left and inner join is enough for associations.

[2017-05-26 12:46] sdanyliv commented on #685
@jogibear9988, yes i have found several libraries that supports this functionality for linq to objects, and we can use this code for comparing results. But i'm thinking about declarative defining of SQL join.

[2017-05-26 12:49] sdanyliv commented on #676
@jogibear9988, i'm deciding should we spend efforts for this :) If you have real case - show me and i will do my best.

[2017-05-26 15:03] jogibear9988 commented on #676
https://stackoverflow.com/questions/2043259/sql-server-how-to-join-to-first-row or https://stackoverflow.com/questions/15626493/left-join-only-first-row or https://stackoverflow.com/questions/19825142/sql-left-join-first-match-only

[2017-05-26 15:13] sdanyliv commented on #676
I see, will try to fix that on next week.

[2017-05-27 23:23] jogibear9988 opened #687 "Is there a way to include Row Count & Filtered Count in Query Result?"
I'm looking for a way, so I need only one Query to Database to include the RowCount & and the current Filtered Count in My Result.

My Current Code looks like this:

Wrapper DTO:

    public class CombinedDTOwithCount<T> : IInterlinqDTO where T : BasicDTOwithoutID
    {
        public virtual T DTO { get; set; }

        public virtual long Count { get; set; }

        public virtual long Filtered

[2017-05-27 23:30] dvladimirovich opened #688 "BulkCopyOptions Documentation"
Hi, I'm using your great project and I want to know where I could read about BulkCopyOptions properties? It's not obvious for me what are they for.
Also I need to know colud I insert objects, which has Identity column but its value will be automatically set by SQL Server?

[2017-05-27 23:35] dvladimirovich opened #689 "Associations with delete and update operations"
Hi, could you please help me if it is correct to use foreign key table in where condition. For instance:
`db.Notifications.Where(n => n.ProductStore.UserId == command.UserId).Set(n => n.Walert, command.WalertToSet);`
Where Notifications table has a ProductStoreId foreign key and ProductStore object as property generated by Linq2Db model generator.

[2017-05-28 07:26] sdanyliv commented on #688
Yes we have support for identities.
Check `BulkCopyOptions.RetrieveSequence`

[2017-05-28 07:36] jogibear9988 commented on #241
I've tested this. This works -> close

[2017-05-28 07:42] sdanyliv commented on #241
It is more related to 'how do not write linq exppressions'. Same as #365

[2017-05-28 07:42] #241 closed

[2017-05-28 07:59] sdanyliv commented on #687
I do not see easy way, it is more related to #331 .
Ideally your have to extract SearchCondition and correct count expression.

[2017-05-28 08:02] sdanyliv commented on #689
@dvladimirovich, it should work. Why not?

[2017-05-28 19:39] dvladimirovich commented on #688
There is no such option! Where did you take it from?

[2017-05-28 20:04] dvladimirovich commented on #689
Oh, yeah its my mistake. BTW, its great, thank you!

[2017-05-28 20:12] dvladimirovich opened #691 "What is FreeTextTable features for?"
I'm using T4 models generator and I can't understand what purposes resolve this class and methods?
[code]
BTW, guys you have great project and I really appreciate your contribution, but I think it would be good to improve the documentation and people won't ask such stupid questions as me=)

[2017-05-28 20:38] dvladimirovich opened #692 "ObjectDisposedException after update to v1.8.0"
I've been using v1.7.6 and my context calling looks like:
[code]
After update to v1.8.0 I have an exception thrown:

[2017-05-28 20:50] jogibear9988 commented on #692
Try ToList, ToArray, ...
If you call AsEnumerable, Query will be executed outside of the using, wich will not work in 1.8 any more! (a bug was fixed wich could lead to memory leaks!)

[2017-05-28 21:23] dvladimirovich commented on #692
Hmm... it's strange, but what about Deferred execution? Thus, people who has been using this approach must change their return types an behaviour?

[2017-05-28 22:11] MaceWindu commented on #692
This change was introduced to fix issue when connection to database created after data context disposal. In that situation connection wasn't returned to connection pool after use, which lead to connection pool exhaustion.
If you need to defer your query execution, you should also defer disposal of data context.

[2017-05-28 22:15] MaceWindu commented on #688
`BulkCopyOptions.RetrieveSequence` was added in latest version (1.8)

[2017-05-28 22:23] MaceWindu commented on #691
Those are methods to work with full text search queries in SQL Server.
For example check those tests: https://github.com/linq2db/linq2db/blob/master/Tests/Linq/Linq/TableFunctionTests.cs#L161

[2017-05-29 01:42] #689 closed

[2017-05-29 09:45] jogibear9988 opened #693 "Nullable Enum searching for wrong converter"
If I have a Nullable Enum in my DTO object, I can use following converters (for save):

[code]
but to load from the Database the following is not enough:
[code]
I also need
[code]
I think the Nullable Converter should be used!

[2017-05-29 18:09] sdanyliv commented on #693
@jogibear9988, can you handle it yourself?

[2017-05-29 19:27] dvladimirovich commented on #691
Ok, thanks!

[2017-05-29 19:40] dvladimirovich commented on #692
I understand, thanks!

[2017-05-29 20:39] jogibear9988 commented on #693
i'll take a look

[2017-05-29 22:22] jogibear9988 commented on #693
https://github.com/linq2db/linq2db/pull/694

[2017-05-29 22:26] jogibear9988 commented on #692
close?

[2017-05-30 18:46] ili commented on #693
#694 merged

[2017-05-30 18:46] #693 closed

[2017-05-30 18:57] detoxhby opened #695 "SqlCe schema provider PK duplications causes error on FK generation"
Caused by recent change 88c0e54b4dcf95bd5c3951bbc2834568300cb252

These changes made it possible to retrieve FKs correctly but the PKs are duplicated. It is a really old piece of code and was no problem as previously the FKs were just an empty list.

Inside `SchemaProviderBase.GetSchema()` FKs are joined onto PKs and later processed, but PKs contain normal index columns as well as real PKs...and t

[2017-05-30 19:02] ili commented on #692
@dvladimirovich @MaceWindu  is absolutely right, this is "good" exception, it helps to avoid wrong usage and connection leaks.

According to [documentation](https://msdn.microsoft.com/en-us/library/bb335435(v=vs.110).aspx) `AsEnumerable` do nothing, so query is not executed (the same is for other providers, [for ex.](https://stackoverflow.com/questions/3389855/am-i-misunderstanding-linq-to-sql-ase

[2017-05-30 19:02] #692 closed

[2017-05-30 19:08] ili commented on #681
@MaceWindu try now please

[2017-05-30 19:11] ili commented on #695
We'll fix it, and publish 1.8.1 in few days.

[2017-05-30 19:16] ili commented on #688
`BulkCopyOptions.RetrieveSequence` now supported only for Oracle.
It looks like we should investigate it

[2017-05-30 19:26] MaceWindu commented on #681
Yep, it works now

[2017-05-30 20:52] dvladimirovich commented on #688
I've used simple BulkCopy without any options and it works fine and shame on me it was my mistake because I've forgotten to set identity seed on primary key column in my database...

[2017-05-30 20:56] dvladimirovich commented on #692
Am I right that using `IQueryable<>` is also bad practice with your library?

[2017-05-30 21:22] jogibear9988 commented on #692
No, it's bad practice to use a Iqueryable outside of a using wich created the Iqueryable.

[2017-05-31 03:05] ili commented on #695
@detoxhby I'v failed to reproduce an issue on our test database, for this two tables everything is OK:

[code]
Can you please provide me failing schema?

[2017-05-31 04:25] ili commented on #688
@dvladimirovich that's great!

but in any way we do need test for BulkCopy with identity, now most tests are done for tables without identity :(

[2017-05-31 04:41] ili commented on #677
@yuzd you see, this is by design.

The situation is unpredictable, we can't insert value into identity column because database would not allow us to do it. Also in general it is not possible to generate correct `Id` (identity value) on client side)

Why do you need this construction?

[2017-05-31 05:45] yuzd commented on #677
yes,i ask a silly question.

[2017-05-31 05:45] #677 closed

[2017-05-31 06:30] detoxhby commented on #695
Just add an index on any non-PK column and the schemaProvider will read it as PK.

(ex. `CREATE UNIQUE INDEX IX_Firstname ON Person (Firstname)`)

[2017-05-31 08:16] ili commented on #695
@detoxhby thanks!

[2017-05-31 09:06] sdanyliv commented on #618
Also there is another documntation generator https://wyam.io/
It is used by cake build for documentation.

[2017-05-31 17:26] sdanyliv commented on #676
@jogibear9988, almost prepared fix but you have to consider that such kind of queries uses CROSS APPLY and OUTER APPLY joins which are not supported by SQLite, and i can not figure out how to emulate.

[2017-05-31 18:28] jogibear9988 commented on #676
I thought it could also be solved using inner join ? https://stackoverflow.com/a/2043290/579623

[2017-05-31 18:34] jogibear9988 commented on #676
maybe this helps also? http://sqlblog.com/blogs/alexander_kuznetsov/archive/2013/11/19/learning-postgresql-replacing-top-and-apply-with-limit-and-lateral.aspx and http://git.net/ml/sqlite-users/2015-02/msg00103.html
but maybe i'm wrong

[2017-05-31 18:42] jogibear9988 opened #698 "Use Regex in Query"
Do we support Regex in Linq (converted to sql)?

mysql:
https://stackoverflow.com/questions/18780194/how-to-regex-in-a-sql-query

sqlite:
https://stackoverflow.com/questions/5071601/how-do-i-use-regex-in-a-sqlite-query

postgres:
https://www.postgresql.org/docs/9.0/static/functions-matching.html

oracle:
https://docs.oracle.com/cd/B12037_01/appdev.101/b10795/adfns_re.htm

sap hana:
http://help-leg

[2017-05-31 19:04] MaceWindu commented on #698
If by support you mean handling of RegEx class usage in linq queries, then no.

[2017-05-31 20:43] dimensional-difficulties opened #699 "Counting members that satisfy a condition within a group generates "cannot be converted to SQL." exception."
First of all, thank you again for all your hard work on this program.

I am trying to count the number of non-null members within a group using the following code:

[code]

However, when this code runs, I get an error saying
"An exception of type 'LinqToDB.LinqToDBException' occurred in linq2db.dll but was not handled in user code

Additional information: 'pppp.FirstOpenTimestamp' cannot be conver

[2017-05-31 21:07] detoxhby opened #700 "SqlCeSqlOptimizer with SqlTableType.Expression destroys table alias and causes NRE"
Using UpdatableQuery with SqlCe provider on any source that is a `SqlTableType.Expression` ( for ex.: `table.With("TABLOCK")`) causes table alias reset to `$` ... and finally a nullref exception when building the actual update expression where alias is null.

The root of the problem lies inside `SqlCeSqlOptimizer.Finalize()`
[code]

The selectQuery before this call contains the correct t1 alias, b

[2017-05-31 22:25] jogibear9988 commented on #698
I'll look if this is possible to implement...

[2017-06-01 05:59] sdanyliv commented on #699
@dimensional-difficulties, it is related to #679 and #680.
We will extend aggregate functions, i hope, in one-two weeks.

[2017-06-01 07:56] sdanyliv commented on #676
I'll try to emulate with one primary key. Othrwise - exception.

[2017-06-01 16:26] sdanyliv commented on #676
@jogibear9988, it is not a trivial task to emulate this behaviour. Decided to throw exception in that case.

[2017-06-01 16:30] sdanyliv commented on #698
It's just another extension. PR will be appreciated.
I do not think that we have to deal with RedEx class, it is closer to LIKE implementation.

[2017-06-02 05:30] ili commented on #700
@detoxhby can you please provide minimal sample?

[2017-06-02 05:50] ili commented on #698
for example
[code]

the only thing it would be sensitive to database RegEx dialect.

To make honest support it would be needed to create extension and convert c# RegEx to DB RegEx. If somebody knows how to convert one RegEx dialect to other it would be easy to implement support like:

[code]

[2017-06-02 11:45] #676 closed

[2017-06-02 12:21] Firebie opened #702 "Concat/Union bug - static function can't be converted to SQL"
[code]

[2017-06-02 13:04] ili commented on #702
Yes, it can't be converted, because we do not know how it should be treated (function body is not present in expression tree), so you do have few possibilities to convert it:

**Sql.ExpressionAttribute**
this would convert directly to SQL statement, for ex:
[code]

**Use ExpressionMethodAttibute**
this would say to parser how to treat your method as expression
[code]

[2017-06-02 13:09] #695 closed

[2017-06-02 13:12] detoxhby commented on #700
@ili yes, probably today or tomorrow

[2017-06-02 13:19] ili commented on #700
@detoxhby that would be great if today, we are planning to release 1.8.1 tomorrow, so may be we can include the fix

[2017-06-02 13:39] Firebie commented on #702
But this works:
[code]

[2017-06-02 13:46] MaceWindu commented on #702
It works, because linq2db sees that it can load list of Id properties from database and call GetDisplayString in your application.
In example that doesn't work , because it tries to perform concat on server side and fails to generate SQL for GetDisplayString method.

[2017-06-02 13:56] Firebie commented on #702
Can be added logic to do the same for union/concat - i.e. linq2db sees that it can select 'Id' from db, create appropriate query and after execution call for GetDisplayString?

[2017-06-02 14:04] ili commented on #702
@Firebie sorry, no

You see, UINON is done on server side, so expression should be converted on server side, in your select sample it is done in mapping phase (reader looks like `return TestGetDisplayString(iDataReader.GetInt32(0))`

But it would be unpredictable for union, because we can do smth like:

[code]
So in mapping phase we do not know on what row should we call `Test.First` and on what `

[2017-06-02 14:08] ili commented on #700
It looks like i'v reproduced the issue and fixed in #704

[2017-06-02 15:10] detoxhby commented on #700
@ili Seems good! (gonna test it out tonight asap I can)

[2017-06-02 16:06] detoxhby commented on #700
@ili Just tested it and works correctly, thanks!

[2017-06-02 19:13] integral-llc opened #705 "Async calls are failing"
Describe your issue.

The async calls fail with an exception
System.ObjectDisposedException: 'IDataContext is disposed'

For such a simple code
[code]

and the call is
`_fabricators = await DatabaseLayer.GetFabricatorsAsync();`

### Environment details
linq2db version: *1.8.0*

[2017-06-03 00:06] sdanyliv commented on #705
@integral-llc, you have to rewrite your function in this way:

[code]

[2017-06-03 05:12] #700 closed

[2017-06-03 05:53] ili commented on #699
@dimensional-difficulties hi!
can you please provide your `ppp` object definition?

[2017-06-03 14:08] ili commented on #705
Now it is documented: https://github.com/linq2db/linq2db/wiki/Managing-data-connection

[2017-06-03 14:08] #705 closed

[2017-06-05 12:01] detoxhby opened #708 "Updating to 1.8.1 causes numerous strange errors (random & reproducible)"
After updating to 1.8.1 most of our previously working code is broken. Sometimes it happens only for repetative execution, but other times it happens on first run (NRE).

Before submitting this issue I spent a full day trying out different configurations with 1.8.0 + 1.8.1: executing tests on real SQL Server to exclude any mistakes with SQL CE but the results are the same. (even gone back on code

[2017-06-05 12:57] ili commented on #708
@detoxhby thanks for feedback!

Can you please generate failing test, as described [here](https://github.com/linq2db/linq2db/wiki/Issue-reporting#generating-the-test)?

[2017-06-05 13:13] detoxhby commented on #708
@ili [https://pastebin.com/wzJpkk4E](https://pastebin.com/wzJpkk4E)

[2017-06-05 13:20] ili commented on #708
@detoxhby thanks! does this generated with 1.8.1?
If yes, can you please generate with 1.8.0?

[2017-06-05 13:36] detoxhby commented on #708
@ili https://pastebin.com/D4hudgEs

Seems the same for 1.8.0 ( _except the fact query executes correctly :)_ )
Anyway, for the association `ThisKey` would be `P1` and `OtherKey` would be `T5`.`P1` but its missing from both generated file.

[2017-06-05 13:39] ili commented on #708
@detoxhby thanks again

[2017-06-05 13:50] dimensional-difficulties commented on #699
Here is a simplified version of the class with the definitions relevant to the query in question.

public class TRMaster
    {
        [Column(Name = CommonConst.CAMPAIGN_ID_COLUMN)]
        public string CampaignID { get; set; }

        [Column(Name = CommonConst.TOUCH_ID_COLUMN)]
        public string TouchID { get; set; }

        [Column(Name = MasterRollupConst.FIRST_CLICK_TIMESTAMP_COLUMN)]

[2017-06-05 14:57] sdanyliv commented on #708
@detoxhby, try to set the following setting
[code]

[2017-06-05 15:12] detoxhby commented on #708
@sdanyliv thanks, it solved every other problems as well!

Info: with this setting in place I experience 16-18% performance degradation on the full test suite runtime. This may or may not come from other changes in 1.8.1, needs further testing.

[2017-06-05 15:39] detoxhby opened #709 "[Suggestion] Create notification list for users who's willing to test new versions on real-life projects before release gets finalised"
I would especially volunteer to be on a list to get notification before any new release to be able to test it **fully** out on our complex projects and report any issues. (to help prevent situations like #708)

We could call it **Release Candidate** for easier understanding.

What do you guys think? (@ili @sdanyliv)

[2017-06-05 15:49] ili commented on #709
it would be great.
In general all master builds are published to MyGet so it can be easily managed. Before each publishing we can create PR from `master` to `release` (all releases are done from `release` brunch). At this moment it would be just needed to update latest package from MyGet & run tests

[2017-06-05 16:59] detoxhby commented on #709
Sounds great! Would the notification occour with linking in the PR to a predefined internal "RC" issue/thread?

[2017-06-06 05:05] tb-mtg opened #711 "New ColumnAttribute "Allocate" Property"
Could a public property named "Allocate" (and a "HasAllocate" function) be added to the [ColumnAttribute](https://github.com/linq2db/linq2db/blob/master/Source/Mapping/ColumnAttribute.cs) attribute class to be able to craete more accurate "Create Table" sql scripts for VARCHAR data types on DB2 iSeries databases.

See below:
https://www.ibm.com/support/knowledgecenter/en/ssw_ibm_i_61/rzajq/vardata

[2017-06-06 06:38] ili commented on #708
We have released 1.8.2 as hotfix for this problem.

[2017-06-06 06:39] ili commented on #709
If you "star" us you will receive notifications, if i'm not mistaken

[2017-06-06 06:43] ili commented on #711
Do you know if other databases do support `ALLOCATE` or any analog?

[2017-06-06 06:45] tb-mtg commented on #711
Not sure

From: Ilya Chudin [mailto:notifications@github.com]
Sent: Tuesday, 6 June 2017 16:44
To: linq2db/linq2db <linq2db@noreply.github.com>
Cc: Travis Beames <TBeames@martogg.com.au>; Author <author@noreply.github.com>
Subject: Re: [linq2db/linq2db] New ColumnAttribute "Allocate" Property (#711)

Do you know if other databases do support ALLOCATE or any analog?

—
You are receiving this becaus

[2017-06-06 08:13] detoxhby commented on #709
I have the star on this project for a long time now. The fact is that the default setting for watch is "Not watching" so only get notification where I'm participating or tagged. (which is fine)

This is why an issue/PR with ppl tagged in would be nice.

[2017-06-06 08:22] sdanyliv commented on #699
@ili, it is reproduced, but needs @igor-tkachev for correct fix.

[2017-06-06 09:19] ili commented on #709
Tagged with "ppl"? Not clear how it is...

[2017-06-06 09:21] sdanyliv commented on #709
I think it means pople. Like this

@detoxhby, @ili. Preparing for release.

[2017-06-06 09:23] ili commented on #709
I see!
I think it can be managed via [teams](https://github.com/blog/1121-introducing-team-mentions)

[2017-06-06 09:25] ili commented on #709
@detoxhby lets make a test, i'v created new team and invited you, please accept and i'll try to notify you via team mention :)

[2017-06-06 09:41] detoxhby commented on #709
@ili sorry, bad habit: ppl = people

Accepted the invite, thanks! You may create a section called "contribution" in readme to help others join to this proposal.

[2017-06-06 09:57] ili commented on #709
@detoxhby yes... contribution guide is in my plan

[2017-06-06 10:00] ili opened #712 "Write contribution guide"
- [x] Project structure description
- [x] [Development rules and regulations, code style](https://github.com/linq2db/linq2db/files/1056002/Development.rules.and.regulations.docx)
- [x] Building & running tests
- [x] CI
- [x] Building & publishing releases
- [x] Joining testers group

smth. else should be added?

[2017-06-06 10:01] ili opened #713 "Team mention test"
@linq2db/testers received notification? If yes emoji 👍 please :)

[2017-06-06 10:13] ili commented on #713
Great! Working! =)

[2017-06-06 10:13] #713 closed

[2017-06-06 11:49] dzyranov opened #714 "Nullable association"
Throw exception : Specified cast is not valid.

[code]

### Steps to reproduce

[code]

### Environment details
linq2db version: *1.8.2*
Database Server: *E.g. PostgreSQL 9.2*
Database Provider: *E.g. Npgsql 3.2.3*
Operating system: *E.g. Windows 7*
Framework version: *.NET Framework 4.6.1*

[2017-06-06 11:58] breakingthings opened #715 "PostgreSQL datareader requests table schema for each column"
Hi,

Something has gone wrong with 1.8.2 IsDBNullAllowed function in DataProviderBase.cs called extensively for each column which causes lots of schema querys to database and slows system down to a crawl.

[2017-06-06 12:38] MaceWindu commented on #715
I assume you use Npgsql 3.1.9+? Could you try to downgrade to Npgsql 3.1.8 temporary and report wether it helped or not?

[2017-06-06 12:38] MaceWindu commented on #714
Could you try to downgrade to Npgsql 3.1.8 temporary and report wether it helped or not?

[2017-06-06 12:47] breakingthings commented on #715
No - the problem is not in npgsql. I did some debugging and the problem is not with npgsql. Npgsql is 2.3.2 - no problems with linq2db version 1.8.0 - the bug appears with 1.8.2. I currently don't have time to debug it properly but it should be easily reproducible - PostgreSQL query tracing shows a lot of  querys like this that are executed when IsDbNullAllowed is called:

SELECT
	     typ.oid AS

[2017-06-06 12:49] MaceWindu commented on #715
I didn't said it is npgsql issue. In last release we included change, that is used for npgsql versions 3.1.9+ and I'm afraid, it doesn't work well

[2017-06-06 13:11] dzyranov commented on #714
Work with Npgsql 3.1.8

[2017-06-06 13:30] ili commented on #715
In general it should not have any effect for versions lesser then 3.1.9. `CommandBehaviour` does not changed, `IsDbNullAllowed` used to be called for each column always.

[2017-06-06 13:39] ili commented on #714
Looks like this fails: `(bool)st.Rows[idx]["AllowDBNull"]` not `bool` value in this column...

@dzyranov not clear Npgsql version you are using.

[2017-06-06 13:51] breakingthings commented on #715
Oh sorry - I read it wrong - yes I'm using npgsql 3.1.9+. And with npgsql 3.2.3 with some columns I get Error and it seems that not always is "IsDbNull" key available and boolean cast throws exception. Thanks for the quick reaction!

[2017-06-06 13:59] dzyranov commented on #714
@ili https://github.com/npgsql/npgsql/releases/tag/v3.2.3

[2017-06-06 15:50] ili commented on #715
OK we'll look forward to test & fix it!

[2017-06-06 18:25] ili commented on #714
That's new in 3.2.3, only i'v updated from 3.2.2 and getting huge number of errors....
Now "AllowDBNull" column can contain null value

[2017-06-06 18:29] sdanyliv commented on #714
Fix i obvious, if it is null - we have to perform null check in reader expresson.

[2017-06-06 19:16] ili commented on #714
Yes, now i'm looking also for #715

[2017-06-06 19:26] ili commented on #709
group created, closing for now
we'll introduce this practice

[2017-06-06 19:26] #709 closed

[2017-06-06 19:32] ili commented on #715
The only solution for now I see is to switch off getting table schema from server via not using  `CommandBehavior.KeyInfo`

[2017-06-06 19:36] jogibear9988 commented on #715
Why do we need to get the schema from server? I think information we need to build our queries comes from our mapping?

[2017-06-06 19:39] jogibear9988 commented on #709
you can include me too! i'll test on our real live system before each release (but i need a myget/nuget package, i can not change all our projects to use a custom compiled dll)

[2017-06-06 19:57] sdanyliv commented on #715
@igor-tkachev, it is really needed? Also foun that Oracle provider also has issue with this.

[2017-06-07 03:51] ili commented on #715
The original idea is build more efficient mapper, for ex, if column can be `DbNull` mapping expression would be like:
[code]

So if column could not be `DbNull` we can avoid checking for null

By the fact I think we should switch this behavior off for some providers, because running additional queries is not cool.

@sdanyliv Oracle runs additional queries too?

[2017-06-07 04:40] sdanyliv commented on #715
@ili, no, it just returns imcorrect value.

[2017-06-07 05:15] jogibear9988 commented on #715
But isn't it the same when i say in mapping that a column is nullable?

[2017-06-07 20:29] Franki1986 opened #719 "Wcf service transaction"
If I use your WCF Service, how is it like with transactions. Is the transaction commited if the using of the service context ends? What if the connection is closed before the using block ends (error case) , is the query executed?

[2017-06-08 08:38] sdanyliv commented on #719
Transaction for data modifications starts only for batch queries an commited exactly after execution. For simple update or insert starting transaction is not necessary.

[2017-06-08 08:51] Franki1986 commented on #719
Ok lets say I have something like this:

[code]

For this situation I would expect that if the transaction is commited , then person is inserted and all products are updated. Is this so?

[2017-06-08 08:54] #714 closed

[2017-06-08 08:54] #715 closed

[2017-06-08 09:07] sdanyliv commented on #719
Try to use `BeginBatch` and `CommitBatch` instead.

[2017-06-08 09:31] Franki1986 commented on #719
Ok so this would do the desired process:

using (var db = new DbNorthwindService())
{
  db.BeginBatch();
 // ..create a person..
 // Person is one table.
  db.Insert(person);

  // Product is another table
  db.Product
    .Where(p => p.UnitsInStock == 0)
    .Set(p => p.Discontinued, true)
    .Update();

    db.CommitBatch();
}

[2017-06-08 09:34] sdanyliv commented on #719
It is works for you?

[2017-06-08 10:17] Franki1986 commented on #719
I hav not tested it yet.. I forgot to put the question mark at the end :-)

[2017-06-09 08:09] giuliohome opened #721 "sharing info only - model first F# utility"
I only want to share my [F# utility](https://github.com/giuliohome/SqliteFromModel) to create tables from model types (classes).

Sorry if it's off topic here, but I find it useful when implementing linq2db in my current projects.

[2017-06-09 11:32] sdanyliv opened #722 "Bug with Implicit and Explicit convert"
Linq2db generates wrong query with Convert for SQL Server and possible for other databases.

### Steps to reproduce
The following test crashes on server side with error:
**`Arithmetic overflow error converting real to data type numeric`**
[code]
Wrong SQL is here:
[code]

### Environment details
linq2db version: *1.8.2*
Database Server: *SQL Server 2012*
Database Provider: *SqlClient*
Operating sy

[2017-06-09 11:52] Lexey opened #723 "CreateTable vs Oracle issues"
There are two issues with the *CreateTable<T>* method.
1) The 4th parameter name *ownerName* is confusing. It should be named *schemaName*.
2) When an explicit schema name is set via the FluentMappingBuilder or via the ownerName parameter it is being respected only for the CREATE TABLE statement. But related CREATE SEQUENCE and CREATE TRIGGER statements have no schema specifications.

A table defi

[2017-06-09 11:59] sdanyliv commented on #722
Looks like `Convert(Decimal(7,7),` is wrong

[2017-06-09 12:29] ili commented on #723
@Lexey PR would be great! )))

[2017-06-09 13:33] Lexey commented on #723
:) May be later. At this moment I have no time to dig into the 2nd issue.

[2017-06-10 10:41] ili commented on #722
That used to because of SQL `real` should be represented as `double` in c#, i'v changed column definition

But! test would fail even if we:
[code]

[2017-06-10 10:44] sdanyliv commented on #722
Best approach if we do not use any convertations here.

[2017-06-10 10:52] sdanyliv commented on #722
If we can not omit convertations automatically, maybe we can introduce new helper function Sql.NoConvert that removes conversions from target expression.

[2017-06-10 13:14] ili commented on #722
May be smth. like "RemoveConvert(...)" extension method for linq query...
It is not the best approach but I can't imagine other for now...

In anyway `decimal(7, 7)` is wrong, I'v prepared #724 to fix id

[2017-06-11 18:28] #721 closed

[2017-06-12 15:58] ronnyek commented on #537
you know, I bypassed this by using just straight iqueryable, but ended up running across this again. For whatever reason running as oracle generates this: (According to query tracing)
this is passing in DataParameter(":id",1379397)

[code]

I'm not even sure int64 is a valid oracle type. exception blows up with invalid character.

[2017-06-12 15:59] ronnyek commented on #537
The weird thing here is that it appears as if other queries that presumably succeed are tracing out as if it were using a int64 data type as well.

[2017-06-12 16:06] ronnyek commented on #537
Ends up it didnt like a semi colon in there... which is fair... is it possible traacing isnt spitting out the same query that its actually executing?

[2017-06-12 19:16] MaceWindu commented on #278
Guys. I want to make tests for query caching as a part of #256 fix and based on results we will decide on solution.

[2017-06-12 19:18] MaceWindu commented on #256
Looks like removing values from expressions is not an option. I will add setting to disable query caching but for this I will need to test how cache behave in multithreaded environment. At least I know that in single-threaded mode it is effective.

[2017-06-12 19:46] MaceWindu commented on #316
We need to check it, I think I've seen change like that in latest commits from @igor-tkachev

[2017-06-12 22:11] MaceWindu commented on #316
It was fixed by https://github.com/linq2db/linq2db/commit/27235fbedaed6017a321034c6c2c484c3e592af1, which was  a part of 1.8.1 release. I didn't found a good way to write regression test, so I've just checked that ObjectOperation cache is not polluted by duplicate entries using debugger and memory profiler.

[2017-06-12 22:11] #316 closed

[2017-06-13 03:05] rechkalov commented on #316
Thank you.

[2017-06-13 04:03] hardhub commented on #656
@sdanyliv

Finally I have investigated the case... All becomes clear... Let's look at this code:

[code]

So as I mentioned it is related to async flow. The difference between RunNice and RunFail is only the way of async usage. In first case we normally await end of execution, so all actions are completed before DbContext releasing. In 2nd case we just returning task for future execution (just ano

[2017-06-13 10:52] MaceWindu commented on #656
Please check this link https://github.com/linq2db/linq2db/wiki/Managing-data-connection

Let's try to summarize it - linq2db doesn't handle connections outside of data context scope by producing abandoned connections, that's why you had your transaction promoted to distributed before. Starting from 1.8.1 we implemented protection from it and throw exception to prevent such use.

What you can do:
-

[2017-06-13 12:49] hardhub commented on #656
Yes.. I have changed all to awaiting inside context.
And since it is strongly required I think exception is good idea.
So I can say my specific case is solved...

Only native async support is left... and as I understand it is part of new major version (2.0.0).

[2017-06-13 12:49] #656 closed

[2017-06-13 13:37] MaceWindu opened #730 "WCF service doesn't use provider-specific data read logic"
Currently we call data reader methods directly in linq service which could lead to different results compared to queries, executed directly.

### Steps to reproduce
PR https://github.com/linq2db/linq2db/pull/727 adds tests that reproduce it (linq service must be enabled for them).

### Environment details
linq2db version: *1.8.2*

[2017-06-13 13:45] sdanyliv commented on #730
Also all tests from https://github.com/linq2db/linq2db/blob/master/Tests/Linq/Linq/AnalyticTests.cs
should be enabled for LinqService.

[2017-06-14 12:18] Lexey opened #731 "Incorrect Oracle create table generation if a table includes Guid"
CreateTable<T> generates invalid CREATE TABLE statement if a table has a Guid column without an explicit DB type when Oracle provider is being used.

[code]
Resulting sql:

[code]
Oracle does not have the Guid  column type. It should be raw(16).
An addition of DataType = DataType.Binary, Length = 16 to the column attribute does not help also. After it the generated column type is Binary(16) which

[2017-06-14 12:20] Lexey commented on #731
The same problem exists with the byte[] column. In this case generated type is Varbinary. Which is also invalid.

[2017-06-14 14:00] Lexey commented on #731
One more problem. In another table I have
        [Column(DataType = DataType.VarBinary, Length = -1), NotNull]
        public byte[] Data { get; set; }
Table creation works fine for SQL Server, but for Oracle it produces the Varbinary type that is not valid for 11g. Correctly it should be mapped to Blob.
I can workaround it with
        [Column(DataType = DataType.Blob), NotNull]
But that breaks

[2017-06-14 14:39] Lexey opened #732 "Invalid merge statement generated for InsertOrUpdate with Oracle"
I have the following table defined:

[code]
And I am trying to perform the following operation on it:
[code]
So, it is just an "insert if not exists".

The following sql statement is being generated:
[code]
And it is obviously invalid.

### Environment details
linq2db version: *1.8.2*
Database Server: *Oracle 11g*
Database Provider: *Oracle.Managed*
Operating system: *Windows 7*
Framework version:

[2017-06-16 08:01] RoyC-Retail-Assist commented on #711
If it is something specific to the iSeries DB2 it could be done as an additional attribute in the ISeries provider.

[2017-06-16 08:55] RoyC-Retail-Assist opened #733 "Intercepting DB Exceptions"
We would like to be able to catch database exceptions and handle them as necessary.  We would also like to be database agnostic where possible however each provider returns its own Exception type meaning that we would have to supply catch statements appropriate for each type of database we are supporting.

I'm looking for a way of intercepting DB exceptions before they actually get re-thrown so th

[2017-06-16 10:47] jogibear9988 commented on #733
I'd like this idea! In bltoolkit we had implemented a retry for some exceptions !

[2017-06-16 13:05] MaceWindu opened #734 "DB2 z/OS 12 tester wanted"
We declare support for DB2 z/OS database server, but right now we have access only to version 11 according to @igor-tkachev
It would be nice to have a person, who could test linq2db against v12 from time to time.
E.g. this feature https://github.com/linq2db/linq2db/pull/686 could be used at full power only starting from v12 and right now we cannot tell if our implementation of it is correct.

[2017-06-18 16:38] jogibear9988 commented on #283
In c# 8 we will get async foreach, see: https://www.erikheemskerk.nl/c-sharp-7-2-and-8-0-uncertainty-awesomeness/

[2017-06-18 20:55] hardhub commented on #283
@jogibear9988
How is it related to database queries?

[2017-06-19 10:17] rechkalov opened #737 "InvalidCastException in cached Query equality check"
I've found exception when executing two similar queries, but originated from different scopes. Demonstating test and possible fix will be provided.

[code]

### Steps to reproduce

[code]

### Environment details
linq2db version: *1.8.2*
Database Server: *Ms Sql 2014*
Operating system: *Windows 10*
Framework version: *.NET Framework 4.5*

[2017-06-19 14:06] sdanyliv commented on #283
@hardhub. this is citation from the article about supporting `IAsyncEnumerable`. It is more related to DBConnection but...

[2017-06-19 18:03] #737 closed

[2017-06-19 19:27] #205 closed

[2017-06-19 21:52] hardhub commented on #283
@sdanyliv

How do you plan to use it?
I do not see how it can be used for real database work... when you need get some rows, apply some logic (especially on whole result set... for example to detect that nothing is returned).

And do not forget about db context and transaction scope.
I think considering current docs (current implementation) you cannot use anything outside of DbContext.
So if you n

[2017-06-20 07:57] sdanyliv commented on #283
@hardhub, i'm personally using DbConnection with IoC containers in Web server. In that case DbConnection will be disposed after sending data (after web request). So in async web methods we can return IAsyncEnumerable without worrying about releasing context. Also it can be done at Controller level.

[2017-06-20 11:44] jogibear9988 opened #741 "Push to master"
@ili: I accidently pushed directly to master of linq2db (I don't know that I had the rights!)

[2017-06-20 11:45] jogibear9988 commented on #741
I only added a few missing constructors... But I think I should not be allowed to push without a Pull Req!

[2017-06-20 12:55] hardhub commented on #283
@sdanyliv
I personally do not like not layered architecture.. But it does not matter for now...
I agree that you can have DbConnection async. It makes sense.. because connection to server is also IO and it is not cheap. And threads can do some other work during this time. But I told only about IAsyncEnumerable because you said in first message "_In c# 8 we will get async foreach_".
It makes me a b

[2017-06-20 14:12] pentest30 opened #742 "contains fails with access database"
An unhandled exception of type 'System.Data.OleDb.OleDbException' occurred in System.Data.dll

{"IErrorInfo.GetDescription failed with E_FAIL(0x80004005)."}
      Specialite firstOrDefault = _db.Specialites.FirstOrDefault(x => specialite.Name.Contains(x.Name));

[2017-06-20 15:45] sdanyliv commented on #742
@pentest30, please follow our templete. Not enough information for solving your issue.

[2017-06-20 21:07] #741 closed

[2017-06-21 04:44] ili commented on #741
@jogibear9988 yes, I think we should make master protected branch little bit later...

[2017-06-21 05:05] ili commented on #732
@MaceWindu can you look at this?

[2017-06-21 05:07] ili commented on #731
About second issue this should help:
[code]

[2017-06-21 05:11] ili commented on #731
The smth same should help also with the firs issue, but experiments needed

[2017-06-21 11:44] MaceWindu commented on #732
This is duplicate of https://github.com/linq2db/linq2db/issues/100.
I will try to address it this week

[2017-06-21 20:36] Lexey commented on #731
Thanks. I will try it.

[2017-06-22 07:47] boris-turk opened #744 "Dynamic columns"
Hi everybody,

let me first say that the linq2db library is a wonderful piece of software, very flexible and powerful. Keep up the great work you are doing!

Now to my problem. I work for a company which has their product on the marked since quite some time. We have to be backwards-compatible with certain core features it provides. One of them is the possibility to define so-called dynamic columns

[2017-06-22 10:12] ili commented on #744
hi @boris-turk thanks for your good words.

The main question is: how to use dynamic fields.

let's imagine we'll do smth like:
[code]

and will get:
[code]
but what next? Where data should be saved? How can we update them? I think we need answer this questions first and then we can find how we can query them from database.

From other side. Look at [Insert](https://github.com/linq2db/linq2db/blob

[2017-06-22 12:35] sdanyliv commented on #744
@boris-turk, i can not imagine how these classes should be used in linq queries.
Please post sample how do you plan to store and manipulate with such kind of columns.

[2017-06-22 13:19] #708 closed

[2017-06-22 15:37] Lexey commented on #731
It works for both issues.

[code]

[2017-06-22 19:54] igor-tkachev commented on #744
@sdanyliv, definitely, an entity needs some container for such columns. It can be a name/value dictionary.

@boris-turk, to implement it we will need a container for data and a way to provide metadata in run-time. Both are doable. The question is when you will be able to provide metadata info? At the beginning, after some initialization and database use, multiple time during application work, etc?

[2017-06-22 22:16] boris-turk commented on #744
Hi everybody,

thank you for the valuable feedback. I will first try to explain how our model looks like. Each POCO class is actually a wrapper around an instance of Dictionary<int,string>, where key represents the index of a field in a DB table (there could be gaps) and the value is the string representation of a piece of data (e.g. DateTime, decimal, etc). I know, it is not the most efficient so

[2017-06-23 05:14] ili commented on #731
Great :)
Can close?

[2017-06-23 05:16] ili commented on #711
Without any additional info I will suggest to implement this behavior in iSeries provider

[2017-06-23 05:37] ili opened #747 "How to help the project"
Please read this [post](https://github.com/linq2db/linq2db/wiki/How-can-i-help)

[2017-06-23 08:05] boris-turk commented on #744
Hi,

I forgot to give a more precise answer to Igor's question about when I will be able to provide metadata info. The typical scenario would be that I load all meta-data info from some configuration xml files during application startup (before the DB is accessed) and then pass this meta-data to linq2db through fluent mapping builder. The problem is, that the metadata could change at runtime. The

[2017-06-23 09:33] MaceWindu commented on #731
We definitely should find some time later and go over all providers and types.

[2017-06-23 20:43] Lexey commented on #731
May be better to keep it and add proper default mappings later.

[2017-06-24 04:29] ili commented on #731
Really, shame on me =( this is one minute fix!

[2017-06-24 05:04] ili opened #749 "Create table"
We do need big create table test with **all** supported column types, identity, insert & select. Like Issue723Test for Oracle.

[2017-06-24 08:09] ili commented on #712
https://github.com/linq2db/linq2db/wiki/Contributor-Guide

[2017-06-24 08:09] #712 closed

[2017-06-24 09:45] jogibear9988 opened #751 "Retry Policy"
Is the RetryPolicy now used as Default, or is the default a "null" RetryPolicy? Do we also Retry in "Transactions" as a Default?

[2017-06-24 13:28] #100 closed

[2017-06-24 13:28] #732 closed

[2017-06-25 22:15] tb-mtg commented on #711
Roy has a good point. I guess an additional attribute is the way to go.

[2017-06-25 22:15] #711 closed

[2017-06-26 12:53] Kempe opened #752 "Count() > 0 always returns InvalidCastException 'Specified cast is not valid' for Postgres"
Hello,
since linq2db.dll v1.8.2 any query in form of:
bool bDataExist = objDB.t_currency.Where(y=>y.rank >= 10).Count() > 0;
returns InvalidCastException 'Specified cast is not vaild'.

Sample Table Declaration:
[code]
No matter what was specified in the Where() clause... the result is always 'Specified cast is not valid'...

Any help appreciated...
Thanks in advance.

[code]

### Environment deta

[2017-06-26 14:04] dolifer commented on #752
seems like this commit fixes this https://github.com/linq2db/linq2db/commit/d1782b1d7586e39cc795587b382d0423445f897b

you can check latest unstable nuget from https://www.myget.org/feed/linq2db/package/nuget/linq2db

[2017-06-27 06:30] Kempe commented on #752
Yes, this fixed my problem! Thanks for your help.

[2017-06-27 06:30] #752 closed

[2017-06-27 07:49] hoangcuongvn commented on #744
I have a similar problem. The table POCO class is like below
[code]

I need to dynamically statistic on V1, V2, V3 through their numbers 1, 2, 3. The code is like below
[code]
So
If i = 1, DoSomethingWithColumn will statistic on MyTable.V1
If i = 2, DoSomethingWithColumn will statistic on MyTable.V2
If i = 3, DoSomethingWithColumn will statistic on MyTable.V3

I think it might be achieved through

[2017-06-27 12:30] genusP opened #753 "Association with constant value"
In table Assignments exist two columns: TargetName, TargetId. This is columns contains target table name and id.
Could I create association property, for entity Request, when TargetName field always contains value 'bda.Requests'?

[2017-06-27 14:42] ronnyek opened #754 "Override default type handling"
Oracle doesnt or at least didnt have a boolean datatype available for actual column datatypes. It LOOKS as if the default  mapping for oracle uses a byte... but oracles recommendation for a long time anyway was to use a char field with a constraint of null or Y or N.

Rather than change globally how oracle driver handles bool conversion... is there any mechanism to handle conversions to and from a

[2017-06-27 20:17] cantak opened #755 "Firebird queries do not work with CHAR(x) CHARACTER SET OCTETS type"
I am trying to store some hex data in a database. There are numerous fields, but for my simple test case let's look at a MAC_ADDRESS field.

[code]

A human readable MAC is hex formatted - something like "FF:FF:FF:FF:FF:FF". This can be stored as 6 bytes, each a value of 255. I am storing this data.

No combination of field definitions work for **both** _selecting_ and _insert/update_ on the table

[2017-06-28 11:13] jack128 commented on #755
You can try to declare own type ```struct MacAddress { public byte[] Value;  }``` and define MappingScheme
[code]

[2017-06-28 14:54] cantak commented on #755
Beautiful! Thank you!

[2017-06-28 19:26] RoyC-Retail-Assist commented on #754
I had a similar issue with a DB2 database.  I created a BoolYN class that is convertible to/from bool.  This is then used as the type for the column property with a Column attribute specifying the storage type.

I can sort a Gist if you are interested.

[2017-06-29 04:41] ili commented on #754
What about
[code]

[2017-06-29 04:52] ili commented on #755
In general your sample should work. If FB supports storing non ASCII (above `chr(127)`) in `CHAR` this should not be a problem, we'll investigate this!

[2017-06-29 05:05] ili commented on #753
You mean that on association you always need to generate query like:
[code]

I think no, you would need to deal with this manually, but you can use some helper:
[code]

[2017-06-29 05:07] ili commented on #751
* Is the RetryPolicy now used as Default, or is the default a "null" RetryPolicy?
Default is `null` lets suppose this to be "experimental" feature.

* Do we also Retry in "Transactions" as a Default?
I think we do not have Retry in transactions

@andrewvk  @igor-tkachev What do you think about transactions retry, does it doable?

[2017-06-29 05:09] #731 closed

[2017-06-29 05:16] genusP commented on #753
I use OData library and Association used as Navigation property.
I fork library and add extend handling associations:
[code]
If necessary I can make a PR

[2017-06-29 05:20] ili commented on #753
@genusP do it! )

[2017-06-29 08:17] andrewvk commented on #751
1) RetryPolicy is null by default, and this behavior chose for performance reasons.
2) Retry for whole transaction is a feature for next release.

[2017-06-29 10:18] ili commented on #753
Another question is, should be this constraint applied if I do:
[code]

you see, in this case association would not be used, query would be:
[code]

to cover both cases we do need to introduce this behavior using query optimizer like [here](https://github.com/linq2db/linq2db/blob/master/Tests/Linq/Samples/ConcurrencyCheckTests.cs) but adding check to join condition

[2017-07-03 05:39] ili commented on #753
[code]

[2017-07-03 07:14] ili commented on #755
@cantak have @jack128's solution solved your issue?

I'v took a closer look in to this case and faced with some problems: firebird client reads such field as string, I tried to insert  `ascii_char(50) || ascii_char(100) || ascii_char(150) || ascii_char(200)` and then read it, and there are problems with byte converting.

How should I read such data directly (without using linq2db only with Firebir

[2017-07-03 14:11] #723 closed

[2017-07-03 20:42] cantak commented on #755
Yes. I have a table with the following fields:

`
    MAC_ADDRESS       CHAR(6) CHARACTER SET OCTETS NOT NULL,
    IP_V4_ADDRESS     CHAR(4) CHARACTER SET OCTETS,
    IP_V6_ADDRESS     CHAR(16) CHARACTER SET OCTETS,
    PRODUCT_VERSION   CHAR(1) CHARACTER SET OCTETS NOT NULL,
`

As you can see, I store byte values and not human readable values. I handle this using LinqToDb with a class and some ty

[2017-07-04 00:38] igor-tkachev commented on #753
Try this:

[code]

[2017-07-04 09:43] txdv opened #760 "Oracle Package functionality usage"
I wanted to ask if there is a possibility to model packages like [dbms_java](http://docs.oracle.com/cd/B19306_01/java.102/b14187/appendixa.htm) into the linq queries?

Something in the form of this:

[code]

which would result in a query like this:

[code]

[2017-07-04 09:52] txdv commented on #760
[code]

This worked, but is there a way to change the class name DBMS_JAVA and the function name longname to something more sensible?

[2017-07-04 09:54] #760 closed

[2017-07-04 15:36] n9 opened #761 "Error during model generation: Null or empty full-text predicate."
I've tried to generate model by SqlServer template. It generates:

[code]

The `FooFunction` is a table valued function:

[code]

According to the error, it looks like that generator invokes the `FooFunction` during building the model.

### Environment details
linq2db version: *1.8.2*
Database Server: *SQL Server 2014*
Operating system: *Windows 10*
Framework version: *.NET Framework 4.7*

[2017-07-05 08:25] genusP commented on #753
Its work. Thanks.

[2017-07-05 08:28] sdanyliv commented on #753
Bad news, that you can use this approach only once in the query. Otherwise duplicate joins may appear.

[2017-07-05 08:37] genusP commented on #753
i understood. Thanks.

[2017-07-05 17:45] sdanyliv commented on #753
I'm preparing approach described by @ili, so follow this issue.

[2017-07-05 22:10] #753 closed

[2017-07-06 05:38] genusP commented on #753
Its cool. Thanks for your work.

[2017-07-06 09:03] genusP opened #763 "Insert data problem"
I call SetStateInProgress method and expect set new value in field State of table Request, , but value not change. All changes from AddWorkToTask exists.

[code]

linq2db version: 1.8.3
Database Server: Sql Server 2008
Operating system: Windows 10
Framework version: .NET Core

[2017-07-06 11:29] #763 closed

[2017-07-06 18:06] ili commented on #213
Not really clear how can we fix it =(
If any suggestions or test to reproduce the situation

[2017-07-06 18:06] #213 closed

[2017-07-06 20:26] MaceWindu commented on #219
@robnardo do you still have this problem? We tried to reproduce it without success, so we are closing it for now. If you can provide more details like stack trace, version of Informix client, etc it will help a lot

[2017-07-07 15:06] Quentinb opened #765 "Lind2DB Core - Sybase"
using Linq2DB on a .Net Core 1.1 WebAPI.

When trying to connect to the DB, I get an exception message, looking for Sybase.AdoNet2.AseClient
Should it not be looking for Sybase.AdoNet45.AseClient.dll or Sybase.AdoNet.AseClient.dll ?
ConnectionString = "Data Source=server:5000;Database=DbName"
[code]
### Environment details
linq2db version: *1.8.3*
Database Server: *Sybase*
Operating system: *E.g.

[2017-07-07 15:40] MaceWindu commented on #765
@Quentinb , your problem is that linq2db cannot find  any Sybase.AdoNet*.AseClient.dll assembly in the same folder as linq2db assembly. Maybe you try to use it from GAC? Right now it will not work, you need to copy it to your application.

For team:
From source code I see that we try to discover sybase assembly, using following names:
[code]
in this order, but we don't throw exception if assembly

[2017-07-07 15:45] MaceWindu commented on #765
@Quentinb , sorry, I see you use .net core so there is no GAC for you. Anyway, check where is your provider assembly placed and get back to us.

[2017-07-07 17:23] igor-tkachev commented on #765
@Quentinb , also you can enable fusion log and see what's going on.
I hope fusion log works in core.

[2017-07-07 17:43] Quentinb commented on #765
@MaceWindu I've tried copying the dll into the debug\netcoreapp dir as well as the obj\netcoreapp dir with no joy. I'll try a few more tricks on Monday when I'm back at this specific PC.

@igor-tkachev I'll try that, thanks for the tip.

@MaceWindu & @igor-tkachev thanks for your quick response!

[2017-07-10 10:08] Quentinb commented on #765
Hi All, I've tried copying the Dll (Sybase.AdoNet4.AseClient) into every possible directory within the project with no luck. Keep getting the same error that the Dll (Sybase.AdoNet2.AseClient) could not be found.

Looking into enabling Fusion Log still...

[2017-07-10 10:43] Quentinb commented on #765
@igor-tkachev I've tried Fusion but it does not appear to show up any related results. I've tried running the app under IIS Express as well as the dotnet core debug host (as proved by Visual Studio). The only log entries I see are from these processes starting up. Once I try and access the DB via an API call, nothing new appears in the logs. I do see the exception message in the debug console in V

[2017-07-10 10:47] MaceWindu commented on #765
Could you add logging for following data:
[code]

[2017-07-10 10:52] Quentinb commented on #765
Gave that a bash now @igor-tkachev .
C:\Users\<myname>\.nuget\packages\linq2db.core\1.8.3\lib\netstandard1.6\Sybase.AdoNet4.AseClient.dll

I inspected the dir and the Sybase DLL file is not there.

[2017-07-10 11:06] sdanyliv commented on #765
Possibly it just can not load dll. AnyCpu, 64 bit, some references missed.
When im starting to give up ususally i'm using [ProcessMonitor](https://technet.microsoft.com/en-us/sysinternals/processmonitor.aspx) and trying to figure out how system searches for specific DLL

[2017-07-10 11:12] MaceWindu commented on #765
@Quentinb thanks for your path. Looks like a bug with assembly search path generation, maybe .net core specific. For now you should be able to workaround it placing your Sybase client assembly there

[2017-07-10 11:14] MaceWindu commented on #765
Or try to set CopyAllways=true for linq2db.dll reference

[2017-07-10 11:42] Quentinb commented on #765
@MaceWindu thanks for the tips. I've tried both those to no avail. I'll try switching to a full .Net stack. Guess it is a core issue at this stage.

PS: Core does not appear to have the CopyAlways option...

[2017-07-10 12:25] MaceWindu commented on #765
Also check this link, maybe it will help
https://github.com/aspnet/Home/issues/593

[2017-07-12 13:21] jhudler commented on #256
+1 here. If the query cache could be easily cleaned, it would be already very helpful. The issue now is that every anonymous typed query descending from `Linq.Query<T>` should have its own static cache, which makes cleaning it a bit awkward thing to do (iterate over all concrete descendant types and cleaning it dynamically thru reflection).

[2017-07-12 17:17] jogibear9988 commented on #256
Why ?

[2017-07-12 17:18] jogibear9988 commented on #256
Is this cache often used? Can I adjust the cache size from user Code?

[2017-07-12 19:41] MaceWindu commented on #256
Because values are used for query text generation and removal leads to invalid queries. Also expression comparison takes into account values and removal of them will result in false cache miss. Maybe we will find a way to fix it, but it will take some time.

Cache used almost for all linq queries and size is hardcoded as 100 last unique queries per result type.

I need this issue addressed before

[2017-07-13 15:36] giuliohome opened #766 "connection to microsoft sql server via odbc"
I need to connect to a microsoft sql server db for which I have an odbc configuration entry.

which is an example of the connection string I have to use?

Should I also Install-Package linq2db.SqlServer ?

Can I develop the app on a machine without db connection and test it on a machine with such db connection?

Thank you very much for your help!

### Environment details
linq2db version: *latest*

[2017-07-13 15:52] giuliohome commented on #766
This appears to work fine!

`connectionString="Server=ipnum;Database=db_name;User Id=xxx;Password=yyyy;" providerName="SqlServer" `

[2017-07-13 15:52] #766 closed

[2017-07-15 02:31] hardhub commented on #618
@sdanyliv

colors of wyam.io site  == pain

hopefully other things are not bad...

[2017-07-15 17:59] sdanyliv commented on #283
@ronnyek, async currently under high development. You can monitor this PR https://github.com/linq2db/linq2db/pull/758

[2017-07-16 15:32] MaceWindu commented on #457
Looks like already addressed by https://github.com/linq2db/linq2db/wiki/Contributor-Guide

[2017-07-16 15:32] #457 closed

[2017-07-16 15:35] MaceWindu commented on #542
shipped with https://github.com/linq2db/linq2db/releases/tag/Release.1.8.0

[2017-07-16 15:35] #542 closed

[2017-07-16 15:37] MaceWindu commented on #659
Looks like all questions addressed. Feel free to reopen if something is still not clear.

[2017-07-16 15:37] #659 closed

[2017-07-16 15:40] MaceWindu commented on #691
It whould be nice, if T4 generator will add descriptive comments to methods like this

[2017-07-16 15:58] MaceWindu commented on #751
looks like answered

[2017-07-16 15:58] #751 closed

[2017-07-17 05:24] genusP commented on #73
Please, add support user defined aggregate function for Sql Server (https://docs.microsoft.com/en-us/sql/relational-databases/user-defined-functions/create-user-defined-aggregates)

[2017-07-17 20:50] AlthalusDGr8 opened #768 "Adding exrta where clauses based on entity attributes or interfaces"
In Nhibernate, one can extend the BaseClassMap in order to introduce custom SQL to be included with the queries generated by overriding the default where clauses generation.  Is it possible to do so using Linq2DB?

For Example:
I have an entity which implements the ISoftDeletable interface.  I would like linq2db to automatically add the where clause "IsDeleted = 0" whenever I query for this entity

[2017-07-18 07:37] MaceWindu commented on #768
Why don't just use something like that?

[code]

[2017-07-18 07:39] MaceWindu commented on #768
And for tenant you can do something similar by passing tenant to MyDb constructor

[2017-07-18 08:40] sdanyliv commented on #768
Even better you can join to other table to filter out records if you have complex criteria.

[2017-07-18 15:09] sdanyliv commented on #73
@genusP, will check how to implement this feature.

[2017-07-20 07:22] Franki1986 opened #769 "Validate check before insert or update record"
Hello,

is there a method with that I can validate a record before it is inserted or updated?
Let's say I have a VARCHAR(20) and inserts a string that is bigger, in this scenario I would get a FirebirdException (I am using Firebird).
Something like Validate(record), so it could return a bool or a list of invalid fields.

[2017-07-20 09:01] Franki1986 opened #770 "Documentation using Atomineer"
I have a private lisence for atomineer. Is it helpfull to let generating automatic xml-docs first, and then adding the concrete description?
Here I have an example for the LinqExtension class, where the documentation is done automatically...

[code]

[2017-07-20 10:36] sdanyliv commented on #769
@Franki1986, check this comment https://github.com/linq2db/linq2db/issues/331#issuecomment-277987587

[2017-07-20 11:57] Franki1986 commented on #769
Awesome!!!!

The following code would do a validation and throw an Exception with detailed information.. This is not handling every DataType, but I think it will explain my intension...
But what is not working is that the 'SqlField'.Length value is wrong, it is always 255, but here I would expect the database length...

[code]

[2017-07-21 06:23] spider58 opened #771 "Is there anyway to query from a Table without create TableClass"
Hello.

I'm created all tableClass from "A" schema and i can query whatever i want.

I want to query from "C" table from "B" schema  without create table class.

Is this possible?

Thanks Inadvance.

[2017-07-21 06:30] sdanyliv commented on #771
Yes it is possible
[code]

[2017-07-21 08:17] spider58 commented on #771
Thanks for answer but SchemaName is not found under GetTable

[2017-07-21 08:24] MaceWindu commented on #771
It's extension method in LinqToDB namespace (https://github.com/linq2db/linq2db/blob/master/Source/LinqExtensions.cs#L82)

[2017-07-21 08:30] spider58 commented on #771
is there no way to send sql command to db?

"SELECT usrname from SCHEMANAME.TABLENAME Where id = 55)
--

[2017-07-21 08:35] sdanyliv commented on #771
Include LinqToDB namespace and `SchemaName` will be accessible

[2017-07-21 11:55] MaceWindu commented on #771
Could you provide your code and link to a sample you use? Beause linq2db doesn't have any PConnection classes at all

[2017-07-21 12:02] spider58 commented on #771
Thanks. yes now accessible. :))

[2017-07-21 12:04] MaceWindu commented on #771
Great, closing then

[2017-07-21 12:04] #771 closed

[2017-07-21 12:17] MaceWindu commented on #770
Thank you for your proposal, but we think it will be a wrong way for us as we want to have xml documentation which is usefull.  Sometimes it could require serious research of library internals, and having autogenerated text could tempt people to cut corners :).

[2017-07-21 12:25] MaceWindu commented on #769
255 here is a default length we set for a string (not sure why we set it like that).
For it to have a proper value, you need to specify proper length for each string column you want to validate using column attribute:
[code]

[2017-07-21 12:31] sdanyliv commented on #769
@Franki1986, set `GenerateLengthProperty = true` in your T4 template

[2017-07-21 14:22] RoyC-Retail-Assist opened #772 "Open Connection Exception with Retry Policy and Connection string with password"
If a retry policy is added to a DataConnection where the connection string contains a password then the Connection Open raises an error.

The problem is in RetryingDBConnection
[code]
This is basically doing _connection.ConnectionString = _connection.Connections string but for some DB Connection objects the Get on ConnectionString returns the connection string minus the password element.  I'm expe

[2017-07-21 14:52] MaceWindu commented on #772
Thanks! We aware of the same issue with SAP HANA provider and plan to fix it in next version

[2017-07-21 15:19] Franki1986 commented on #769
Perfect

[2017-07-21 15:19] #769 closed

[2017-07-24 10:27] peterzt opened #773 "SQLite FTS table Match support"
Greetings,

Can you please tell how to code support for Match operator (Full text search in SQLite)

Example query:

select f1,f2 from t3 where t3 match 'someText*'

The above performs match against all fields.

Thanks in advance,
Peter

[2017-07-24 13:15] n9 opened #774 "InsertWithIdentity returns decimal"
The declared return value of `InsertWithIdentity` method is `object`. I have expected that the actual return value will be the same as the identity column (which in my case is `int`). However, the actual return type is `decimal`.

### Steps to reproduce

[code]

### Environment details
linq2db version: *1.8.3*
Database Server: *SQL Server 14*
Database Provider: *SqlServerDataProvider*
Operating sy

[2017-07-24 13:24] igor-tkachev commented on #774
This is how your data provider works. Use `Convert.ToInt32.`

[2017-07-24 13:38] n9 commented on #774
You mean that this is a issue of data provider which maps `numeric(38,0)` to `decimal` and there is no return mapping to get the expected return type?

Will it be hard (for newbie) to change the `InsertWithIdentity` method to use the entity mapping and convert the value? (Which might be [more convenient](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) for other newbies.)

[2017-07-24 14:04] igor-tkachev commented on #774
No, we can't do that. InsertWithIdentity method can return either Int32, or Int64, or Decimal.
But we can add InsertWithInt32Identity method.

[2017-07-24 15:30] n9 commented on #774
@igor-tkachev I have hacked a draft: n9/linq2db@88da7a0

[2017-07-26 14:31] sdanyliv commented on #773
I do not see possibility in current implementation will handle this.

[2017-07-26 17:06] jdistlr opened #776 "Don't escape my Escape Character"
A manually attached LIKE clause `Sql.Like(f.FIELDNAME, "slot[_]__")` will be translated to `[f].[FIELDNAME] LIKE N'slot[[]_]__'`. What I want is match contents like "slot_01", "slot_02" and so on. I can't match with a `Sql.Like(f.FIELDNAME, "slot%")` or `f.FIELDNAME.StartsWith("slot_")` ...

Is there any option to disable the auto-escaping?

Edit:
Provider is Microsoft SqlServer.

Thanks.

[2017-07-26 17:35] peterzt commented on #773
I have managed to do it through some sort of hack

` public static class Exts
    {
        [Sql.Expression("DataTableFTS MATCH {1}", ServerSideOnly = true, IsPredicate = true)]
        public static bool MatchFts<T>(this T x, T val) where T : IComparable<T>
        {
            throw new NotSupportedException();
        }
    }
...
                var _list = _dbData.Where(arg => arg.Col1.MatchF

[2017-07-26 21:07] sdanyliv commented on #773
Yes, it is possible,  but table aliases may have change, so it's why i do not accept this solution.

[2017-07-26 23:13] #73 closed

[2017-07-27 06:12] peterzt commented on #773
I see but keep in mind that SQLite doesn't support alias in this case, i.e. you can't write
select * from TableFTS [t1] where [t1] match 'Joe*'
It must always be table name
select * from TableFTS [t1] where TableFTS  match 'Joe*'

SQLite FTS4.

[2017-07-27 07:51] sdanyliv commented on #773
Can you check this variant?
[code]

[2017-07-27 08:34] peterzt commented on #773
Yes, this works fine.

[2017-07-27 09:50] sdanyliv commented on #776
It is regression after fixing #169.
Looks like it was fixed in wrong place.

[2017-07-27 09:53] sdanyliv commented on #773
According to specification Sqlite's tables has hidden field named as table, so it's why it works.
Looking for better solution in your case.

[2017-07-27 10:24] sdanyliv commented on #776
@jdistlr, i propose to do this in that way - Implement your own function:

[code]

[2017-07-27 11:31] sdanyliv commented on #773
There is solution that works with current sources:
[code]

[2017-07-28 12:47] sdanyliv commented on #679
Fixed in #775

For now you can use the following syntax
[code]

[2017-07-28 12:47] #679 closed

[2017-07-28 14:21] sdanyliv commented on #773
@peterzt, does proposed solution solve your problem?

[2017-08-01 13:40] MaceWindu opened #781 "GroupBy() followed by Count() tries to perform count on client"
At least following linq patterns generate `select *` query (which fails, because usually not all table fields included into group by) instead of `select count(*):
[code]

### Environment details
linq2db version: *1.8.3*
Database Server: *SQL Server 2016*
Operating system: *Windows 10*
Framework version: *.NET Framework 4.6.1*

[2017-08-01 13:41] MaceWindu commented on #781
BTW, for workaround, add `Select(...)` call before `Count`

[2017-08-01 15:59] MaceWindu commented on #781
Looks like this happens only if you group not by plain field, but by some expression. Will add tests soon

[2017-08-01 16:13] MaceWindu commented on #264
Reopen, see #782

[2017-08-03 18:41] mr-clx opened #783 "Unable to get output parameter after querying MySQL stored procedure"
Seems the only way to get updated Output parameter is to call CommandInfo.ExecuteProc()

Have some MySQL Stored prodedure :
`proc(in I, out O)`

Building params list and query procedure
[code]
There is no changes in paramOut after that.
The only way to get result is to call CommandInfo.ExecuteProc():
[code]
So, stored procedure executed twice. Not good.
Is it possible to get procedure result set a

[2017-08-03 19:41] MaceWindu commented on #783
see #81. If nothing changed since then, you need to read your output parameter value from db.Command.Parameters

[2017-08-03 20:09] mr-clx commented on #783
Thank you! That works
`var paramOut = db.Command.Parameters["O"] as DbParameter;`

[2017-08-03 20:09] #783 closed

[2017-08-04 04:36] Corey-M opened #784 "SQLite schema generation error when Foreign Key targets table only"
I have an SQLite3 database file from a vendor application that is causing schema generation to fail with an exception when generating the schema:

[code]

I downloaded the linq2db code to track down the cause and eventually tracked down the source of the issue as the SQL used to generate the table.  A minimal example would be:

[code]

SQLite supports this and correctly cascades deletions.

When g

[2017-08-04 09:25] ili commented on #784
Closed via #785, thanks! :)

[2017-08-04 09:25] #784 closed

[2017-08-04 09:31] ili commented on #765
@Quentinb is it possible to use .Net 4, .Net 4.5 libraries with .Net Core?
Can you use Sybase.AdoNet45.AseClient.dll directly with without linq2db? It would be great if you can provide test project if it is so

[2017-08-06 15:58] #681 closed

[2017-08-06 15:58] #682 closed

[2017-08-06 15:58] #683 closed

[2017-08-07 14:29] #564 closed

[2017-08-07 14:50] ili commented on #353
Fixed in #775

[2017-08-07 14:50] #353 closed

[2017-08-07 15:09] sdanyliv commented on #353
Sample code can be found here https://github.com/linq2db/linq2db/blob/master/Tests/Linq/Linq/FunctionTests.cs
Test `CustomAggregate`

[2017-08-08 00:02] Corey-M opened #789 "[Idea] More options for constructor generation in T4 templates"
I've been using the T4 templates recently and have had to tweak the code generation a little to change the way it emits constructors for the data context.  After a little consideration I thought it might handy to have some extra options around constructor generation to allow for a little more flexibility.

So far these are the ideas that I have:

* Flags to suppress generation of constructors such

[2017-08-08 00:05] igor-tkachev commented on #789
@Corey-M, you can create partial class and define any constructor you need.

[2017-08-08 00:23] Corey-M commented on #789
@igor-tkachev Yes, I've done something similar any number of times.  Each time I use the templates I would have to do extra work beyond configuring the template.  Yes, I can create a data library for each database I use, but it's easier in a lot of cases to simply run the templates in the project where I'm working with a particular database, especially when I'm developing the database alongside th

[2017-08-08 04:29] ili commented on #699
fixed via #775

[2017-08-08 04:29] #699 closed

[2017-08-08 04:40] ili commented on #781
fixed via #775

[2017-08-08 11:00] peterzt commented on #773
Sorry for delay, I have gone with my approach because yours one was giving NotSupportedException for linq2db package (1.8.3) from nuget (I guess new update will fix it).

[2017-08-08 11:23] sdanyliv commented on #773
Check this one. And maybe we have fixed something in current sources.
https://github.com/linq2db/linq2db/blob/97684d01983071554c6fc12be37b1fa9367444c7/Tests/Linq/Linq/FunctionTests.cs#L457

[2017-08-08 15:52] igor-tkachev commented on #789
@Corey-M We do not usually accept any specific changes. However, we can always improve our code and make it more flexible to support custom changes. I think we can create another overridable func/action to control constructor generation.

[2017-08-08 20:18] jdistlr commented on #776
Works perfectly. Thanks a lot!

[2017-08-09 00:38] #789 closed

[2017-08-09 00:41] igor-tkachev commented on #789
@Corey-M you can now create .ttinclude like this one https://github.com/linq2db/t4models/blob/bd0292c27044933cbbdbca12c5af574ec20835b0/Tests/LinqToDB/SqlServer.ttinclude
and include it in your .tt
https://github.com/linq2db/t4models/blob/bd0292c27044933cbbdbca12c5af574ec20835b0/Tests/LinqToDB/SqlServer.tt#L6

[2017-08-09 02:42] igor-tkachev commented on #776
@jdistlr Did you try Sql.Like(string matchExpression, string pattern**, char? escapeCharacter**) method?

[2017-08-09 03:00] igor-tkachev commented on #765
@Quentinb Also you can try resolve Sybase assembly by using the following method
LinqToDB.DataProvider.Sybase.SybaseTools.ResolveSybase(Assembly assembly)

Call it when you application starts.

[2017-08-09 05:17] sdanyliv commented on #776
@igor-tkachev, that's why this issue was created - Sql.Like has code that add additional escaping.

[2017-08-09 05:20] ckhker opened #791 "how can i select some random data?"
how can i select some random data?
i try to

[Column(Name = "newid()", IsColumn=false)]
public Guid Random { get; set; }

tabale.Take(100).OrderBy(t=>t.Random )
tabale.Take(100).OrderBy(t=>"newid()")

it does't work

i used mssql

[2017-08-09 06:04] sdanyliv commented on #791
Try to use Sql.NewGuid()
[code]

[2017-08-09 13:50] peterzt commented on #773
The exact error is:

  _HResult=-2147467263
  _message=The method or operation is not implemented.
  HResult=-2147467263
  IsTransient=false
  Message=The method or operation is not implemented.
  Source=linq2db
  StackTrace:
       at LinqToDB.Linq.Builder.SelectContext.ConvertToSql(Expression expression, Int32 level, ConvertFlags flags) in c:\projects\linq2db\Source\Linq\Builder\SelectContext.cs

[2017-08-09 13:52] sdanyliv commented on #773
Show me SQL and test this using your other program. Maybe Query is not valid.

[2017-08-09 13:58] sdanyliv commented on #773
BTW, you can get pre-release package via MyGet

[2017-08-09 14:35] eric844 opened #792 "Linq2db execute Stored procedure when I connect to sybase ASE"
Using linq2db with linqpad. Over 150 stored procedure on the database where executed when I tried to connect to the first time and it corrupted our data.

When we took out the execute permission for stored procedure and tried to reconnect we got error
10330 You do not have the permission to execute this command. We got 3 error 2812 Store procedure % not found . Specify owner object name.

It seems

[2017-08-09 14:45] igor-tkachev commented on #792
@eric844 when you create LINQ to DB connection you, uncheck "Include Stored Procedures and Functions" option.

[2017-08-09 14:48] eric844 commented on #792
Is it normal though that it execute all store procs?

Is it a known issue?

[2017-08-09 15:01] igor-tkachev commented on #792
Here https://github.com/linq2db/linq2db/blob/master/Source/SchemaProvider/SchemaProviderBase.cs#L410

We call stored procedure with ```CommandBehavior.SchemaOnly``` option. It should not execute stored procedure, it returns schema instead.

[2017-08-09 22:36] Corey-M commented on #789
Nice.  Thanks @igor-tkachev

[2017-08-10 23:42] #774 closed

[2017-08-11 02:57] hahn-kev opened #794 "PostgreSQL CreateTable with DateTimeOffset gives an error"
I'm trying to Create a table on a PostgreSQL database, my class has a DateTimeOffset field like so:
[code]

However, when I look at the SQL used to create the table, this is generated:
[code]
In case you're not aware, there's no DateTimeOffset type in PostgreSQL lol. As such the following exception gets thrown
[code]

### Steps to reproduce
Using the above class `ClassWDateTimeOffset` just run the

[2017-08-11 04:11] igor-tkachev commented on #794
What ProgressSQL type you expect?

[2017-08-11 04:59] hahn-kev commented on #794
I'd expect `timestamptz` or `timestamp with time zone`

[2017-08-11 09:40] faraway1989 opened #796 "How to Keep the table column names?"
example: person well be People, but i need "person";

[2017-08-11 09:42] sdanyliv commented on #796
Please explain what you need more clear.

[2017-08-11 09:48] faraway1989 commented on #796
My English isn't good enough!!!!

Keep table column headers unchanged,

linq2db DataBase to Model:
[Column("flow_id"),      PrimaryKey(3), NotNull] public decimal   **FlowId**      { get; set; } // numeric(3, 0)
that's what I want:
[Column("flow_id"),      PrimaryKey(3), NotNull] public decimal   **flow_id**     { get; set; } // numeric(3, 0)